[2019-10-10 09:16] tsaxena18 opened #6 "create_builder_image.sh is failing"
The script for creating base image,create_builder_image.sh is failing. It is looking for a file in wrong directory,
cp: cannot stat ‘/home/apps/Installers/BE/560/GA/be_docker_install.pm’: No such file or directory

It might be related to environment settings. It is not working on QA machines. I have tried on different OS. Below is the output of the build command,
[apps@beqacentosz820 s2i]$ ./creat

[2019-10-14 10:47] tsaxena18 opened #9 "Builder script is failing for BE 5.6.1 and AS 2.4.1."
The script is working fine for BE 5.6.0 + AS 2.4.0 but its failing when either BE is 5.6.1 or AS 2.4.1 installers are used. Include these two versions for current release.

[apps@beqacentosz820 s2i]$ ./create_builder_image.sh -l /home/apps/Installers/BE/561/v24
ERROR: TIBCO BusinessEvents (5.6.0) is not present in the target directory. There should be only one.

[apps@beqacentosz820 s2i]$ ./create

[2019-10-14 11:00] tsaxena18 opened #10 "Cannot set custom name for builder image."
The builder image created from the script create_builder_image.sh always set the image name as s2ibuilder:01 and new image overwrites the previous image instead of creating new one. So it is very difficult for end user to keep a track of images built with different BE and AS versions, especially if using respective Hotfix installers too.

[2019-10-14 11:50] tsaxena18 opened #11 "Builder script to run on windows."
S2I toolkit is also available for windows and we also support creating images for Linux container from windows. So a similar script should be available to use on windows to be in sync with our existing docker folders.

[2019-10-14 23:28] #6 closed, assigned to CloudDevBe

[2019-10-14 23:56] #10 closed, assigned to CloudDevBe

[2019-10-18 05:49] jgirase opened #15 "Add executable permissions to shell scripts under docker/frominstall folder same as bin folder"
Kindly add executable permissions to all build images related shell scripts inside folder docker/frominstall same as docker/bin folder

[2019-10-18 06:26] jgirase opened #16 "Overriding dockerfile for all scripts under docker/frominstall folder is not working"
When we pass external dockerfile (not from installation) to any script build_app_image.sh ,build_rms_image.sh, build_teagent_image.sh it always picks up dockerfile from installation ignoring what is passed to command using -d option.

**This issue affects when we tried to test consul gvprovider using scripts available here as build_app_image script always picks dockerfile from installation which d

[2019-10-18 18:37] #15 closed, assigned to skbasit

[2019-10-22 05:59] jgirase opened #19 "Docker build failed when docker image is built using frominstall"
Try to build image using frominstall using below command,
jgirase@jgirase-ubuntu-P51:~/be-tools/cloud/docker/frominstall$ ./build_app_image.sh -l /home/jgirase/Installation/BE_560_V114GA/be/5.6 -a /home/jgirase/work/BE/5.6.1/Consul/560/TestGV -r testgv:560install --gv-providers=consul

Error:
Step 17/29 : COPY gvproviders /home/tibco/be/gvproviders
 ---> ee4e99aa5e7f
Step 18/29 : WORKDIR /home/tib

[2019-10-22 06:26] jgirase opened #20 "Not able to read GV config from consul server for the application image built using installers"
Steps:
1.Build the application image using installers (docker/bin) folder with some GV
2.Run Consul server
3.Create GV/key-value pairs in consul server same as define in BE project
4.Run application image using below command,
docker run -d -e CONSUL_SERVER_URL=http://consul:8500 -e APP_CONFIG_PROFILE=default -e BE_APP_NAME=TestGV --net=mybridge --name=testgv testgv:560installer
5.Application does

[2019-10-23 04:45] vivekshende opened #21 "The information about supplied arguments in image creation are not consistent across platforms."
The information that is listed out about supplied arguments are not consistent across platforms (win, linux). There are few parameters in linux which are missing and some information is not consistent with the way it is displayed on windows.
Look at the output of build app utility for win and linux as shown below :

C:\Share\BE_560_V80\be\5.6\cloud\docker\bin>build_app_image.bat -l E:\v80 -a E:\Wo

[2019-10-23 05:14] vivekshende opened #22 "Integrate fromInstall scripts into base docker scripts"
As part of 5.6, we combined multiple docker scripts into single script. However we missed adding "fromInstall" option to it. Which we included later a separate set.

Ideally we should simply have an argument to the base docker script to accept "fromInstall" option.

[2019-10-24 04:29] #20 closed, assigned to skbasit

[2019-10-26 16:35] tsaxena18 opened #25 "Correct the usage description of builder script."
The --gv-providers is not required in builder script and description of --repo is wrong, it should be related to base image.

[apps@beqacentosz820 s2i]$ ./create_builder_image.sh -h

Usage: create_builder_image.sh

 [-l|--installers-location]  :       Location where TIBCO BusinessEvents and TIBCO Activespaces installers are located [required]

 [-d|--docker-file]          :       Dockerfile to be

[2019-11-01 01:11] #16 closed, assigned to skbasit

[2019-11-03 17:52] tsaxena18 opened #28 "Build script for RMS is failing."
The docker image build script for RMS, **build_rms_image.sh** is failing with below error,

Step 25/58 : RUN perl -I. -Mbe_docker_install -e "be_docker_install::replaceRunbeVersionToken('$BE_PRODUCT_VERSION','./runbe.sh')"
 ---> Running in e8191f7813c4
Cannot open file ./runbe.sh for read at be_docker_install.pm line 419.
Removing intermediate container e8191f7813c4
The command '/bin/sh -c perl -I

[2019-11-03 18:27] tsaxena18 opened #29 "Docker build script on windows is not picking AS hotfix installer."
The installers used in building application image are --> AS 240 + AS HF2 + BE Ent. + Process +Views. But while creating application image, it is not picking AS Hotfix installer. I have verified the same by running cache agent which shows AS version as base AS 2.4.0 version instead of AS HF2 version. Due to this issue, could not verify the case where cache fails to start with image built using AS

[2019-11-04 18:42] vpatil-tibco opened #33 "Add ReadMe files for Docker and GV support"
We need to have Readme files for docker and gv support. End users should find github self sufficient to use. Not need us to redirect them to doc.tibco.com for basic "getting started/usage" stuff.

[2019-11-05 10:02] jgirase opened #35 "Value for GV type password is visible in plain text when read from consul server"
Define global variable of type password in BE application and build image for the same using frominstall docker scripts.
Define key value pair for above GV in consul server and pass this server url to run container for above image.
When the value of password type GV is debug out in logs using below function , it shows password in plain text while the value set in GV editor is printed in encrypted

[2019-11-05 10:53] jgirase opened #36 "When GV value is changed to invalid in consul server, BE application container reads previous value instead of default value"
Steps:
1.Define GV of all types in BE project and build application image using frominstall docker scripts.
2.Define key/value pairs for above GV in consul server, start application container.
3.It will read values from consul sever and same is debug out in logs
4.Now change the value in consul server like assign any random string to boolean type GV or assign string to integer type GV.
5.Restart a

[2019-11-05 11:20] #36 closed, assigned to skbasit

[2019-11-05 12:04] #35 closed, assigned to skbasit

[2019-11-06 10:18] jgirase opened #37 "Docker build failed when image is build using installers for 5.6.0"
Command run:
./build_app_image.sh -l /home/jgirase/Installers/BE/5.6.0/V114_GA/zips/ -a /home/jgirase/work/BE/5.6.1/Consul/560/TestGV -r testgv:560installer --gv-providers consul

Error:
Step 33/67 : RUN perl -I. -Mbe_docker_install -e "be_docker_install::install_be('$BE_PRODUCT_VERSION','enterprise','$BE_PRODUCT_ADDONS','$BE_PRODUCT_HOTFIX','$AS_PRODUCT_HOTFIX','$AS_VERSION')"
 ---> Running in 6a

[2019-11-07 04:43] #19 closed, assigned to dijadhav

[2019-11-07 10:50] #37 closed, assigned to skbasit

[2019-11-12 01:14] #25 closed, assigned to CloudDevBe

[2019-11-12 01:22] shivchelwa opened #41 "Docker build image from software installers failing on Mac"
Few issues while building docker image from software installers failing on Mac(5.6.1):

- The default bash version on Mac is 3.2 and the scripts don't work until bash is upgraded to 4.x or higher.
- This issue may not be Mac specific. The docker build fails if ActiveSpaces install is not available. But its mentioned as optional in the documentation.
- This issue may not be Mac specific. As <BE_HOM

[2019-11-12 04:53] #28 closed, assigned to dijadhav

[2019-11-12 04:54] #9 closed, assigned to dijadhav

[2019-11-12 08:48] #29 closed, assigned to skbasit

[2019-11-12 09:32] jgirase opened #43 "Incorrect error message in case of wrong installers are present at installer location while building image"
Command : ./build_app_image.sh -l /home/jgirase/Installers/BE/5.6.1/V59 -a /home/jgirase/work/BE/5.6.1/Consul/561/JMSChannel/ -r jmschannel:561 --gv-providers consul

Installer directory contains AS 2.4.1 linux zip and BE 5.6.1 windows zip
While building image it shows error message as below,
**ERROR: TIBCO BusinessEvents HF is present but TIBCO BusinessEvents Base version is not present in the ta

[2019-11-13 13:24] tsaxena18 opened #44 "Script for creating image for TEA agent is failing."
The script **build_teagent_image.sh** for creating docker image for TEA agent from installers is failing with below error,

Step 25/45 : RUN rm -r /opt/tibco/be/${BE_SHORT_VERSION}/lib/ext/tpcl/aws     && rm -r /opt/tibco/be/${BE_SHORT_VERSION}/lib/ext/tpcl/gwt    && rm -r /opt/tibco/be/${BE_SHORT_VERSION}/lib/ext/tpcl/tomsawyer
 ---> Running in 202f2fef9c49
rm: cannot remove '/opt/tibco/be/5.6/li

[2019-11-13 14:07] tsaxena18 opened #45 "Build script under frominstall fails when using default BE_HOME."
The script for creating application image placed under folder **frominstall** is failing with below error when default BE_HOME is used,

Command - [./build_app_image.sh -a /home/apps/Testing/temp561/None -r fdc:v67fiA]

Step 27/31 : RUN /home/tibco/be/gvproviders/setup.sh ${GVPROVIDERS}
 ---> Running in 819a24f42965
/bin/sh: 1: /home/tibco/be/gvproviders/setup.sh: Permission denied
The command '/b

[2019-11-14 06:43] #44 closed, assigned to dijadhav

[2019-11-14 11:00] #45 closed, assigned to CloudDevBe

[2019-11-18 06:30] tsaxena18 opened #48 "Application build script under frominstall fails if BE_HOME does not have AS."
The build script under frominstall folder for application image fails to create the image if BE_HOME does not have AS installed in it.

[apps@beqacentosz820 frominstall]$ ./build_app_image.sh -a /home/apps/Testing/temp561/fd -r fd:v70was

INFO: VERSION : 5.6.1
INFO: APPLICATION DATA DIRECTORY : /home/apps/Testing/temp561/fd
INFO: DOCKERFILE : Dockerfile_fromtar
INFO: IMAGE REPO : fd:v70was
INFO: C

[2019-11-18 12:58] #48 closed, assigned to dijadhav

[2019-11-19 17:25] shivchelwa commented on #41
I still see the below issue while building image on Mac with default bash version(3.2).

$ ./build_app_image.sh -l /tmp/Installables/temp -a /opt/tibco/be/5.6/examples/standard/FraudDetection -r fdapp --gv-providers "consul"
INFO:Supplied Arguments :
----------------------------------------------
INFO:VERSION :
INFO:EDITION : enterprise
INFO:INSTALLER DIRECTORY : /tmp/Installables/temp
INFO:APPLIC

[2019-11-20 07:42] skbasit opened #50 "Include copyright information in all scripts and config files."
Copyright © 2019. TIBCO Software Inc.
This file is subject to the license terms contained in the license file that is distributed with this file.

[2019-11-20 12:14] #41 closed

[2019-11-20 12:51] #50 closed

[2019-11-22 10:42] tsaxena18 opened #54 "Keep specific tag version for base OS images instead of using 'latest'."
The docker build script might fails if user already have base OS image tagged as **latest**, (ex, ubuntu:latest) and it is couple of months old. I have encountered such issue and it was not easy to debug.
So it is better to tag the base OS image with specific version. This fix include updating all the DockerFiles, for ex:
**FROM ubuntu:latest as intermediate**

[2019-11-26 03:39] dijadhav opened #55 "Improvements docker image script"
1) Reduce size of frominstallation docker image
2) Include folders specific to component liek TEA,RMS
3) Create common script for validation of installer

[2019-12-12 18:40] vijay572 opened #56 "runbe.sh script needs update to not keep adding same properties at the end of be-engine.tra every time container runs."
Issue:
In docker environment (Container created and used to start and stop) on each container restart all GVs and JVM props added again to existing be-engine.tra file.
Caused by this be-engine.tra file grows to 1GB on customer site.

Requred to update runbe.sh script - start BE agent with a backup file copied from orign be-engine.tra file first or overwrite existing settings for each property.

Re

[2020-02-01 00:56] vpatil-tibco opened #59 "Add support for helm charts"
Given all the existing combinations today and more to be added eventually
we will have further set of configurations files to our already existing large set. Making this more difficult and painful to manage.

Helm Charts is a perfect way to handle . It will help create a single template set of configuration files with a resource provider containing reference properties. So for a cloud provider + d

[2020-03-12 07:08] LakshmiMekala opened #62 "apiVersion is invalid and selector spec is missing for minikube inmemory and cache deployments"
It is observed that apiVersion: apps/v1beta1 is invalid for minikube inmemory, cache(persistence none/sharedall/sharedNothing) deployments
Selector is missing in spec section of deployments.

Issues observed in :
minikube version: 1.7.3
kubectl version : 1.17.3

[2020-03-18 16:17] p-admabhushan opened #64 "TIBCO BusinessEvents (BE) should support custom config management in addition to Consul"
TIBCO BusinessEvents (BE) should support custom config management in addition to Consul something like BWCE (https://github.com/TIBCOSoftware/bw-samples/wiki/Custom-Config-Management)

[2020-04-13 06:10] rameshpolishetti opened #66 "Do we need discoverynode for Shared-Nothing kubernetes deployments"
It is observed that discoverynode is added for Persistence-None & Shared-All but not for Shared-Nothing. Is there any significance for it?

CC: @vpatil-tibco @CloudDevBe  @vivekshende

[2020-04-15 11:41] LakshmiMekala opened #67 "Be application throwing waiting for space error in k8s deployments"
discovery and inference pods are giving waiting for space error in k8s cache mode deployments.

Observed discovery=[tibpgm] in individual pod logs.
Error is in generating docker image.

Cc: @vpatil-tibco @vivekshende

[2020-04-16 03:04] tsaxena18 commented on #66
No. The cache node itself act as discovery node in any case (None, Shared All, Shared Nothing). We may have included an extra node for discovery in some folder but that is not mandatory in general. It is just to showcase the behavior/importance of discovery node by running an extra node explicitly. You can, if you want, include a separate discovery node in Shared Nothing too but that's optional.

[2020-04-21 10:22] dijadhav commented on #66
Tammay is correct.Whatever we have written  for these use cases are different ways to create discovery. We have provided examples its upto user how they want to do.

[2020-04-21 10:36] dijadhav commented on #67
Please add new line "\n" in Dockerfile before the line (line # 56) we write AS ur in TRA . Also update ubuntu from latest to 16.04 or 18.04

[2020-04-22 18:48] vpatil-tibco commented on #66
@rameshpolishetti - Let the discovery node for existing scripts. But let's not bring it to helm.

[2020-04-22 18:48] #66 closed

[2020-04-22 18:50] vpatil-tibco commented on #67
@rameshpolishetti mentioned, this has nothing to do with ubuntu update. Seems it was a miss.
@LakshmiMekala Can you put a line feed fix on this.

[2020-05-07 07:43] skbasit opened #70 "Windows docker script build_app_image.bat not work with more than 4 parameters"

[2020-05-07 08:00] kagrawal-git commented on #70
Added shift command.

[2020-05-12 19:10] vpatil-tibco commented on #59
So far all existing BE-AS2x kubernetes support is added to Helm. New 6.0 additions are yet to.

[2020-05-12 19:22] #62 closed

[2020-05-12 19:29] vpatil-tibco opened #71 "Add docker support for new deployment configurations"
With 6.0 we are adding a new deployment configurations with FTL/Ignite/AS4/Cassandra.

Today our docker support is limited to only BE-AS2x. This need to be extended to include these new deployment configurations.

[2020-05-13 16:06] vijay572 opened #72 "docker scripts - /gvproviders/consul/setup.sh (wget package not installed, so consul binaries not loaded)"
Issue:
Consul binaries not loaded when build the docker image with latest docker build scripts.
(https://github.com/TIBCOSoftware/be-tools/tree/v1.0).

That is related to a missing command when load the wget package in ubuntu image.
Without wget installed, it's not possible to load the binaries so it failed to load GVs from consul (script error reported on startup of the docker container when exec

[2020-05-13 16:10] vijay572 commented on #72
@vivekshende @skbasit created this issue to track internal JIRA created by Ulf

[2020-05-18 21:14] kevinlaiyh opened #73 "TIBCO BE Hotfix is not getting install into docker image"
Placed the latest TIBCO BE hotfix in the same installer location as TIBCO BE binaries and the hotfix is not getting extract/unzip and install into the final image.

[2020-05-19 00:18] kevinlaiyh commented on #73
This can be fixed by editing below file.

[code]

[2020-05-19 00:19] kevinlaiyh commented on #73
Also, removing the HF package from the image to reduced the size.

[code]

[2020-05-19 20:21] kevinlaiyh commented on #73
Also, I noticed that the default TIBCOUniversalInstaller.silent file in the HF doesn't include any options so it will not install anything.

Will required to unzip, add below entries in TIBCOUniversalInstaller.silent and re-zip the hotfix (below is the entries for HF-003 - modify accordingly for the required version).

[code]

[2020-05-20 15:50] p-admabhushan opened #74 "Engines defaults to tibpgm protocol, even if AS_DISCOVER_URL is specified in run command"
Its required to add a new line before updating discover url in be-engine.tra.
[code]
Might need to update other platform Dockerfiles too (haven't tested)

[2020-06-23 10:11] spantalo commented on #73
Support article about this issue, with attachment.

[https://support.tibco.com/s/article/Script-build-app-image-sh-does-not-install-BE-Hotfix-inside-docker-image](https://support.tibco.com/s/article/Script-build-app-image-sh-does-not-install-BE-Hotfix-inside-docker-image)

When will it be merged on git?

[2020-06-23 21:52] kevinlaiyh commented on #73
@spantalo
No idea. I don't have permission to push the changes into this repository hence I opened the issue and posted the solution in the comments.
Someone from TIBCO need to make the changes and merge it.

[2020-06-23 22:17] vpatil-tibco commented on #73
We will look at this and will merge in the master. Thanks.

[2020-06-30 10:36] vshende-tibco opened #83 "Reduce the size of windows based docker image"
The BE docker image built for windows container is of size 12 GB approx. which is large considering that we are building it from frominstall which is used for creating images of less size. The application image will take 1 GB more so there should be a way to create these images of less size.

Also reduce the engine startup time as it is taking longer time as compared with linux containers.
Attachi

[2020-07-08 05:15] rameshpolishetti commented on #54
Note: Fix is available in the branch https://github.com/TIBCOSoftware/be-tools/tree/feature-cloud-enhancements

[2020-07-08 05:19] rameshpolishetti commented on #43
Note: Fix is available in the branch https://github.com/TIBCOSoftware/be-tools/tree/feature-cloud-enhancements

[2020-07-08 05:20] rameshpolishetti commented on #67
Note: Fix is available in the branch https://github.com/TIBCOSoftware/be-tools/tree/feature-cloud-enhancements

[2020-07-10 17:45] vpatil-tibco commented on #73
Fixed. You can pull the latest and check.

[2020-07-10 17:45] #73 closed

[2020-07-10 17:57] kevinlaiyh commented on #73
@vpatil-tibco

I noticed that the fix didn't include removing the HF package that I mentioned in below comments. This is the reason why the image size is huge.

https://github.com/TIBCOSoftware/be-tools/issues/73#issuecomment-630502139

[2020-07-10 18:05] kevinlaiyh commented on #73
Never mind, I see the removal at below commit but it just remove the BE HF and not the AS HF.

https://github.com/TIBCOSoftware/be-tools/pull/82/commits/6437471f68b79986e23aa23feb1855bd5f6ec609

[2020-07-10 18:30] tsaxena18 opened #86 "The docker build script for TEA is failing."
The docker build scripts of app and RMS are working fine but the script for TEA is failing for the same set of installers.
I have used AS 2.4.1 and BE 5.6.1 installers [AS + BE Enterprise + Process + Views]. All the installers are kept in same folder.
Attached log for the failed build script for TEA.

[buildTEAgent.txt](https://github.com/TIBCOSoftware/be-tools/files/4904757/buildTEAgent.txt)

[2020-07-14 07:13] nareshkumarthota commented on #86
Root cause for the issue - apt-get upgrade python-pip  is failing in the "ubuntu:latest". Now latest is 20.04.
using ubuntu:18.04 as base version should fix the issue.

[2020-07-14 07:46] nareshkumarthota commented on #83
From the logs, I could see that out of 12gb window base image (mcr.microsoft.com/windows/servercore   ltsc2016 2b98a92e72d0) contributing 11 gb + be artifacts 1 gb

I also tried using windows nano container (mcr.microsoft.com/windows/nanoserver 1903 8b8ec38e0f40 - who's size is of 300MB) as base image to reduce BE app container size. Below are the observations:

1.  FTL installation is failing as

[2020-07-14 13:19] LakshmiMekala commented on #74
Note: Fix is available in the branch https://github.com/TIBCOSoftware/be-tools/tree/feature-cloud-enhancements

[2020-07-15 00:23] vpatil-tibco commented on #86
@nareshkumarthota as discussed the best option would be to fix the command. Since even with our Helm branch, we are pinning it to 20.x.

[2020-07-15 00:27] vpatil-tibco commented on #83
@nareshkumarthota if nano+.net ends up being of same size as the latest windows servercore (2019) i.e. ~ 4.7 GB. Then i don't see a point customizing this image. Latest servercore should do.

It's be good to check if the startup time is being spent in our scripts or its more of the Windows issue.

[2020-07-15 06:52] nareshkumarthota commented on #86
Both Ubuntu version and python commands updated. Fix is available in branch `fix-issue-86`. will merge into master along with helm branch.

[2020-07-20 10:08] nareshkumarthota commented on #86
be-hf fix with tea scripts also updated in branch `fix-issue-86`.

[2020-08-05 04:43] skbasit commented on #33
We now have wiki pages for this.
https://github.com/TIBCOSoftware/be-tools/wiki/Setting%20Up%20the%20Application%20to%20Use%20Global%20Variables%20from%20Consul

[2020-08-05 04:43] #33 closed

[2020-08-05 11:59] jgirase-tibco opened #93 "Update yaml scripts for AWS provider as apiVersion mentioned in those files are no longer supported"
Below errors are observed when trying to use existing yaml scripts from kubernetes folder to run deployments on AWS,
error: unable to recognize "manifest.yaml": no matches for kind "Deployment" in version "extensions/v1beta1"

After updating apiversion to apps/v1, it shows below error,

error validating "manifest.yaml": error validating data: ValidationError(Deployment.spec): missing required fiel

[2020-08-05 21:55] #86 closed

[2020-08-10 09:15] jgirase-tibco commented on #43
This is working fine now. For wrong installer , it says following message,
ERROR: TIBCO BusinessEvents Installer is not present in the target directory.

[2020-08-10 10:41] rameshpolishetti commented on #43
closing the issue as it is verified successfully.

[2020-08-10 10:41] #43 closed

[2020-08-10 12:15] tsaxena18 commented on #54
Confirmed.
The tag has been fixed to use version instead of using 'latest', as described below from build logs.
**FROM ubuntu:20.10 as intermediate**
Attached build logs for the reference.
[buildApp.txt](https://github.com/TIBCOSoftware/be-tools/files/5050728/buildApp.txt)

[2020-08-10 12:15] #54 closed

[2020-08-17 15:42] tsaxena18 opened #98 "Parameters in values.yaml file under Helm should be same as in CDD for consistency."
The initial BE parameters such as unclustered, inmemory, store, cache, sharedNothing, etc are not consistent with the CDD. They should be equal in upper/lower case, i.e, the string should be same as seen in CDD.

[2020-08-17 15:51] tsaxena18 opened #99 "Update values.yaml file for beservice type information."
The information mentioned there suggests to use service type as LoadBalancer for Azure platform and NodePort for others but I have to use LoadBalancer in case of OpenShift too. So The information for type is quite incomplete.
Update the service type section :
#Required for all applications in all cloud providers
beservice:
  name: beservice
  type: NodePort              #**LoadBalancer for azure,

[2020-08-17 16:45] tsaxena18 opened #100 "Update Cassandra based global variables in values.yaml."
The values.yaml file under helm contains separate global variables for Cassandra host and port while the Cassandra connection section in CDD does not have separate fields for host and port. There is a single field for server contact which is made up of hostname and port as hostname:port (default value --> localhost:9042).
So update the yaml file accordingly.

[2020-08-19 08:30] tsaxena18 opened #101 "Helm deployment fails for persistence option Shared Nothing with OpenShift platform."
Use case --> FTL+Ignite+SharedNothing for OpenShift.
$ helm install fdsn600app ./helm --set cpType=openshift
Error: YAML parse error on BE Helm Chart/templates/persistent-volume-and-claim.yaml: error unmarshaling JSON: while decoding JSON: json: cannot unmarshal array into Go value of type releaseutil.SimpleHead

With dry-run, found detailed error trace as described below -->
$ helm install fdsn60

[2020-08-19 08:45] nareshkumarthota commented on #101
typo err in template file. Fix is moved to branch `fix-issue-101` kindly confirm once.

[2020-08-19 15:13] tsaxena18 commented on #101
Updating persistent-volume-and-claim.yaml under templates folder for extra "-" resolved the initial issue.
But now I am facing issue with persistence volume not getting bound. The volume and mount templates are not created properly. In the generated yaml, persistence volume claim is missing storage class name.
 volumeMounts:
          - mountPath: /mnt/tibco/be/data-store
            name: store

[2020-08-20 13:04] staffwaremueller opened #102 "Unix version: BE hotfix not installed (zip file added install files folder)"
Hotfix not installed caused by a script issue when check for BE hotfix file. The filename (hotfix) does not include the ARG_EDITION (enterprise).

Filename: TIB_businessevents-hf_5.6.1_HF-004_linux26gl25_x86_64.zip

Script: s2i/create_builder_image.sh
Variable beHfCntd set to 0 (filename used for the check not match the real name)

BE_HF_REGEX="${BE_PRODUCT}-${ARG_EDITION}_*_HF"
...
beHfPckgs=$(fi

[2020-08-24 23:39] CloudDevBe commented on #102
@staffwaremueller Variable beHfCnt is properly set to 1.
To check, I added echo beHfPckgs : $beHfPckgs and echo beHfCnt : $beHfCnt in s2i/create_builder_image.sh

Following are the logs:
./build_app_image.sh -l /Users/shrikant/Downloads/installationzipfiles/5.61 -a /Users/shrikant/Downloads/Installationfiles/fd -r fdhf:01
beHfPckgs : /Users/shrikant/Downloads/installationzipfiles/5.61/TIB_business

[2020-08-25 08:38] nareshkumarthota commented on #93
try updatng manifest.yaml with below content under deployment section

[code]

[2020-08-25 12:11] staffwaremueller commented on #102
Thanks, you right I loaded an old version. I used the link referenced in the manual of BE version 5.6.1 and that link points to first version of the scripts and not to top folder.

See:
https://docs.tibco.com/pub/businessevents-enterprise/5.6.1/doc/html/GUID-6363E425-C15D-4FB7-BE41-5BC83A1B9971.html

Link:
TIBCO BusinessEvents GitHub repository points to:
  https://github.com/TIBCOSoftware/be-tool

[2020-08-25 12:11] #102 closed

[2020-08-25 12:18] nareshkumarthota commented on #93
required changes moved to branch `fix-issue-93` kindly confirm once.

[2020-08-26 06:27] nareshkumarthota commented on #101
fix is available in branch `chore-issue-fixes`. kindly confirm the same will create a PR.

[2020-08-26 06:27] nareshkumarthota commented on #100
fix is available in branch `chore-issue-fixes`. kindly confirm the same will create a PR.

[2020-08-26 09:45] jgirase-tibco opened #103 "PKS-GCP getting error while pulling image from private registry when helm is used for deployment"
For the application deployment on kubernetes cluster with vendor PKS-GCP , it show error as "ImagePullBackOff" when private registry like google container registry is used for docker images.
Followed the steps from below page to configure service account but it does not work ,
https://github.com/TIBCOSoftware/be-tools/wiki/Setting%20up%20Google%20Container%20Registry

If google container registry

[2020-09-01 06:32] rameshpolishetti opened #104 "Add an option to disable docker unit tests while building BE app image"
With the current scripts, docker unit tests are invoked automatically after building the BE app image successfully. Providing an option to disable docker unit tests would help the user to skip tests if he/she wants.

[2020-09-02 06:16] tsaxena18 commented on #104
Can you list out those unit tests that are executed in the end as part of build process ? (for the record)

[2020-09-02 15:28] tsaxena18 commented on #100
Verified the Store use case with Cassandra for updated variables in values.yaml file and it went fine.
Attached log for the reference.
[log.txt](https://github.com/TIBCOSoftware/be-tools/files/5163250/log.txt)

[2020-09-02 15:31] tsaxena18 commented on #101
Verified the Shared Nothing use case with FTL and AS as cluster provider and it went fine for both the cases.
Attached log for the reference.
[sn.zip](https://github.com/TIBCOSoftware/be-tools/files/5163262/sn.zip)

[2020-09-02 20:01] vpatil-tibco opened #106 "Unit Tests for Docker and Helm"
Things to cover here,
1. Enhance/add more docker tests.
2. Add unit tests for Helm.
3. Plug unit tests with travis.

[2020-09-03 09:29] nareshkumarthota commented on #103
fix is available in branch `fix-issue-103` kindly confirm.

imagepullsecret name option is given along with image credentials. If image pull secret name field is supplied in `values.yaml` image credentials section is ignored.

[2020-09-03 10:46] #100 closed

[2020-09-03 10:52] rameshpolishetti commented on #101
@tsaxena18 fix is merged into master. Please close it from your end.

[2020-09-03 14:21] tsaxena18 commented on #101
Closing as use case is working fine for both AS2x and FTL.

[2020-09-03 14:21] #101 closed

[2020-09-07 08:05] tsaxena18 opened #108 "Update usage file under s2i."
The section has not been updated with the new changes.
The current text describes the command usage as :
./create_builder_image.sh -l <installers-location> -v <BE-version> -i <image-version>
where
[-l|--installers-location]  :       Location where TIBCO BusinessEvents and other required installers are located [required]
[-d|--docker-file]          :       Dockerfile to be used for generating image

[2020-09-07 09:09] tsaxena18 opened #109 "Correct the helm deployment output."
With the configurations set in values.yaml for cluster provider, cache provider, store, etc. we do helm deployment and get the last statement of output as :
Your release is named fdsa600app. and deployed in `openshift` with `FTL` mode.

FTL is a cluster provider and when we talk about mode in context with BE its usually a persistence or OM options.
So if my setup is OpenShift as cloud platform, FT

[2020-09-07 09:24] rameshpolishetti commented on #104
@tsaxena18 Current scripts show the following output (test cases short description + summary how many pass/fail at the end) as unit tests execution summary. Is this the one you are referring?

[code]

[2020-09-07 10:13] tsaxena18 commented on #104
Yes, so as a part of image creation what are the things that we are checking here. From summary I can deduce that we are checking the application and environment files. Anything else ?

[2020-09-07 10:20] rameshpolishetti commented on #104
Docker unit tests validate the structure of the BE Application container image. Which includes the following validations on the BE app image:

1. Output of important commands
2. metadata of the image
3. Whether important files are present
4. Whether important files are updated correctly

Detailed information is available at - https://github.com/TIBCOSoftware/be-tools/tree/master/cloud/docker/tests

[2020-09-07 10:21] nareshkumarthota commented on #108
updated the required changes in branch ` fix-issue-108`. kindly confirm the same.

[2020-09-07 10:47] tsaxena18 commented on #104
Its fine. I have already verified the issue on pr#105. We can close this.

[2020-09-07 14:13] rameshpolishetti commented on #104
closing this as it is implemented and merged into master through the PR #105

[2020-09-07 14:13] #104 closed

[2020-09-08 05:15] LakshmiMekala commented on #67
Closing as the fix is available in master

[2020-09-08 05:15] #67 closed

[2020-09-08 09:19] tsaxena18 commented on #108
Checked from fix-issue-108 branch , the documentation part has been updated correctly.

[2020-09-08 09:19] #108 closed

[2020-09-08 09:35] tsaxena18 commented on #109
1. For all the AS2x clustered cases we get,
Your release is named fdc600app. and deployed in `azure` with `AS2` mode

2. For all the FTL clustered cases we get,
Your release is named fdc600app. and deployed in `azure` with `FTL` mode

3. For unclustered case we get,
Your release is named fd600app. and deployed in `azure` with `unclustered` mode

So there are only 3 types of output. Now change shou

[2020-09-08 10:37] nareshkumarthota commented on #109
The notes text can be modified like below mentioned. I think this serves the purpose.
Your release is named {{ .Release.Name }}. and deployed in `{{.Values.cpType}}`. Cluster Type: `{{.Values.cmType}}`. OM Type: `{{.Values.omType}}`.

[2020-09-09 04:36] #109 closed

[2020-09-09 10:23] jgirase-tibco commented on #93
Verified all deployment files which are updated with api version apps/v1 post fix except minikube->autoscaling_example which is expected one as discussed with Naresh.
Ran sample scripts for deployment persistence none on gcp, it worked fine.

[2020-09-09 11:13] jgirase-tibco commented on #103
Its working after specifying pullsecret value for field imagepullsecret: in values.yaml for helm.

[2020-09-09 13:01] #93 closed

[2020-09-09 13:04] #103 closed

[2020-09-15 12:58] #99 closed

[2020-09-16 18:20] vpatil-tibco commented on #64
Since the example above is reference only and a thick client studio based support, it does not align with what we have. Below are the details of how we plan to support this,

1. Plugin based support. End user should be able to plugin support for pulling data from whatever end store they maintain their configurations. If that means FTL needs to be used to retrieve the details, then the end user wil

[2020-09-22 13:26] skbasit commented on #56
The changes has been merged into master branch since long.

[2020-09-22 13:26] #56 closed

[2020-09-24 13:00] LakshmiMekala commented on #106
Please find tasks status below:

Helm Template tests -completed
Travis-CI integration - completed
Plug unit test with travis-completed

[2020-09-24 16:12] vpatil-tibco opened #116 "Adding application monitoring to Helm"
BE currently supports application monitoring.
1. InfluxDB with Dashboards done in Grafana or any other InfluxDB support Dashboarding tool.
2. Tibco Streaming with Dashboards done in Tibco LiveViewWeb.

The scope of this issue,
1. Configurative support for application metrics. This depends on the cdd configuration.
2. Client connection support i.e. cdd configs for InfluxDB and Tibco Streaming to be

[2020-09-24 16:20] vpatil-tibco opened #117 "Performance improvements for docker"
Currently our docker images have roughly 40+ steps, these translate to individual layers. More the layers, more is the time it takes to build an image plus add to the overall size.

Goal of this issue to evaluate ways to reduce the number of steps involved. Few things to check,
1. Redundant steps, if any can be removed are not needed.
2. Can certain steps be clubbed together.

[2020-09-24 16:26] vpatil-tibco commented on #98
Not really mandatory, in fact its not a good practice to have field/variables/parameters on cli have spaces, be case sensitive, etc. So long as the names are self explanatory and have appropriate doc/help details explaining.

The only change i feel we can make is change "sharedNothing" to "sharednothing". Keep all options lower case.

[2020-09-24 16:30] vpatil-tibco opened #118 "Update individual page wiki links to appropriate sections"
Today all wiki reference take user to the base wiki link i.e. - https://github.com/TIBCOSoftware/be-tools/wiki

Rather we should point users to appropriate sections within the wiki link. So on the Helm page link should take users directly to https://github.com/TIBCOSoftware/be-tools/wiki/Helm%20Chart

Or docker should take them to https://github.com/TIBCOSoftware/be-tools/wiki/Dockerize%20TIBCO%20

[2020-09-28 10:14] LakshmiMekala commented on #116
Included application monitoring to helm for below points:
1. InfluxDB with Dashboards done in Grafana or any other InfluxDB support Dashboarding tool.(Added dependency charts for InfluxDB and Grafana)
2. Tibco Streaming with Dashboards done in Tibco LiveViewWeb.

Code changes are available [feature-app-metrics](https://github.com/TIBCOSoftware/be-tools/tree/feature-app-metrics)

[2020-09-28 12:24] tsaxena18 opened #119 "Update product name in run_tests.sh usage description."
$ ./run_tests.sh -h

Usage: run_tests.sh

 [ -i|--image-name]           : **Be** app image name with tag <image-name>:<tag> ex(be6:v1) [required]

 [ -b|--be-version]           : **Be** version in x.x format ex(5.6) [required]

 [ -c|--cdd-filename]         : CDD file name ex(fd.cdd) [required]

 [ -e|--ear-filename]         : EAR file name ex(fd.ear) [required]

 [-al|--as-legacy-version]    : **

[2020-09-28 13:01] tsaxena18 opened #120 "Avoid extra message in case of failure in run_tests.sh"
1. When all tests passed.
=================================
============ RESULTS ============
=================================
Passes:      17
Failures:    0
Duration:    9.974871635s
Total tests: 17

PASS

=================END OF CONTAINER STRUCTURE TESTS==================

2. When few tests failed.
=================================
============ RESULTS ============
=============================

[2020-09-28 13:06] tsaxena18 opened #121 "Make CDD and EAR optional in run_tests.sh ."
$ ./run_tests.sh -h

Usage: run_tests.sh

 [ -i|--image-name]           : Be app image name with tag <image-name>:<tag> ex(be6:v1) [required]

 [ -b|--be-version]           : Be version in x.x format ex(5.6) [required]

 [ -c|--cdd-filename]         : CDD file name ex(fd.cdd) [required]

 [ -e|--ear-filename]         : EAR file name ex(fd.ear) [required]

 [-al|--as-legacy-version]    : Activespac

[2020-09-28 13:21] tsaxena18 opened #122 "run_tests.sh : Differentiate test between AS and AS legacy."
$ ./run_tests.sh -i fdsnas2:v101 -b 6.0 -c fdstore.cdd -e fdstore.ear -al 2.4 -as 4.4 -f 6.4

=================RUNNING CONTAINER STRUCTURE TESTS=================

INFO: image name:          [fdsnas2:v101]
INFO: be version:          [6.0]
INFO: cdd file name:       [fdstore.cdd]
INFO: ear file name:       [fdstore.ear]
INFO: as legacy version:   [2.4]
INFO: as version:          [4.4]
INFO: ftl vers

[2020-09-28 13:41] tsaxena18 opened #123 "run_tests.sh : Add tests for the verification of external jars."
There are no tests or any verifications for the presence of external jars like jms.jar, ojdbc7.jar, etc in BE container.

$ ./run_tests.sh -h

Usage: run_tests.sh

 [ -i|--image-name]           : Be app image name with tag <image-name>:<tag> ex(be6:v1) [required]

 [ -b|--be-version]           : Be version in x.x format ex(5.6) [required]

 [ -c|--cdd-filename]         : CDD file name ex(fd.cdd) [

[2020-09-28 14:05] LakshmiMekala commented on #98
Fix is available in branch [fix-issue-98](https://github.com/TIBCOSoftware/be-tools/tree/fix-issue-98)

[2020-10-05 06:09] LakshmiMekala commented on #116
Added option for custom metrics support

[2020-10-07 09:27] LakshmiMekala commented on #122
Fixed in branch [fix-dockertest-issues](https://github.com/TIBCOSoftware/be-tools/tree/fix-dockertest-issues)

[2020-10-07 09:27] LakshmiMekala commented on #119
Fixed in branch [fix-dockertest-issues](https://github.com/TIBCOSoftware/be-tools/tree/fix-dockertest-issues)

[2020-10-07 10:26] LakshmiMekala commented on #120
Currently, i could see there is no option to elimitate text in case of failure _"time="2020-09-28T12:42:59Z" level=fatal msg=FAIL"_ as this message is from the test framework. Please refer [documentation](https://github.com/GoogleContainerTools/container-structure-test#flags)

[2020-10-07 13:38] rameshpolishetti commented on #123
@tsaxena18 since external jars are optional artefacts in the BE app container, test cases are not there.

[2020-10-07 13:40] rameshpolishetti commented on #123
@tsaxena18 as discussed, closing the issue.

[2020-10-07 13:40] #123 closed

[2020-10-08 06:24] tsaxena18 commented on #11
Tried to build application image for linux container on windows by running create_builder_image.bat and then s2i utility and it went fine.

[2020-10-08 10:57] LakshmiMekala commented on #118
Fixed with PR #125

[2020-10-08 10:58] LakshmiMekala commented on #11
Closing issue as per above comments

[2020-10-08 10:58] #11 closed

[2020-10-08 11:24] LakshmiMekala commented on #106
Implentation done. PR #126

[2020-10-08 16:15] #98 closed

[2020-10-09 04:41] vshende-tibco opened #127 "Support for Ignite Cluster Manager type"
With 6.1.0, BE will now support Ignite Cluster as a cluster provider. This will enable additional topologies to be supported in BE.
Details here => https://confluence.tibco.com/display/be/Ignite+Cluster+Provider

[2020-10-09 17:56] #118 closed

[2020-10-12 15:33] #106 closed

[2020-10-19 07:18] LakshmiMekala commented on #127
Here is the desin approach for the ignite cluster integration with helm
1. Proposing cmType=IGNITE
2. Add support for bsType=None/sharednothing/store and storeType=RDBMS/Cassandra/AS4

Please review and let us know your feedback @vpatil-tibco @vivekshende

[2020-10-20 02:47] vpatil-tibco commented on #127
1. Yes that is fine. The behavior should be same as what we have to AS2x as Cluster+cache. So if the cmType=IGNITE then the cache defaults to IGNITE as well.
2. This should as is, stays the same, nothing new for IGNITE.

[2020-10-23 09:29] LakshmiMekala commented on #127
Helm scripts now support ignite as a cluster provider. For ignite code changes please refer to branch [feature-ignite-helm](https://github.com/TIBCOSoftware/be-tools/tree/feature-ignite-helm). Also added helm template tests for ignite cluster.

[2020-10-23 10:06] rameshpolishetti opened #131 "Support for Fargate deployment using helm chart"
Add support to deploy BE application into the AWS Fargate environment using helm chart.

[2020-10-28 15:21] vshende-tibco opened #132 "Provide Redis Store implementation as reference implementation for Store APIs"
Use the public APIs supported in 6.1.0 to provide a reference implementation for a custom store. Use Redis as a reference store.

Create a top-level examples folder to add the source. E.g. examples/store/redis

[2020-10-28 15:49] vshende-tibco opened #133 "Provide Elastic based metric store implementation as reference implementation for Metric Store APIs"
Use the public APIs supported in 6.1.0 to provide a reference implementation for a custom metric store, using Elastic as a reference metric store.

Create a top-level examples folder to add the source. E.g. examples/metric-store/elastic

[2020-11-04 10:56] nareshkumarthota commented on #121
CDD and EAR information is available in environment variables. Same can be used to test cdd and ear existence. Changes made available in branch  `fix-dockertest-issues`.

[2020-11-06 12:29] mmussett opened #134 "Unable to complete build steps following instructions"
In the build steps it mentions running s2i, however i cannot locate this command in the repository. There's no mention of having to download any dependencies other than BE image files.

[2020-11-09 14:33] rameshpolishetti opened #135 "Add support to deploy BE application into OCI"
Add support to deploy BE application into OCI (Oracle Cloud Infrastructure). This includes:

- Update helm chart configurations, values.yaml OR documentation if required
- Update wiki-documentation

[2020-11-11 14:37] tsaxena18 commented on #119
Confirmed, the usage is fine now with products name.
 [apps@beqacentos7 tests]$ sh run_tests.sh -h

Usage: run_tests.sh

 [ -i|--image-name]           : BE app image name with tag <image-name>:<tag> ex(be6:v1) [required]

 [ -b|--be-version]           : BE version in x.x format ex(5.6) [required]

 [-al|--as-legacy-version]    : AS legacy version in x.x format ex(2.4) [optional]

 [-as|--as-versio

[2020-11-11 14:37] #119 closed

[2020-11-11 15:02] tsaxena18 commented on #122
Confirmed, the legacy AS and ActiveSpaces name are different now.
[apps@beqacentos7 tests]$ sh run_tests.sh -i fdsnas2:v101 -b 6.0  -al 2.4 -as 4.4 -f 6.4

=================RUNNING CONTAINER STRUCTURE TESTS=================

-----------------------------------------------
INFO: image name:          [fdsnas2:v101]
INFO: be version:          [6.0]
INFO: as legacy version:   [2.4]
INFO: as version:

[2020-11-11 15:02] #122 closed

[2020-11-11 17:15] #121 closed

[2020-11-12 04:30] vpatil-tibco opened #136 "Kubernetes Liveness Probe via Helm"
Add support for kubernetes liveness probe. As part of the config, use the existing jmx port for a tcpsocket check.

The values.yml should simply have an enable/disable option for this configuration. Config is added only if it is enabled. Port should be used off whatever port is specified for jmx. Will apply to both inference and cache engines.

[2020-11-12 04:36] LakshmiMekala commented on #135
BE Application now supports deployment into OCI.

Currently documentation is under internal review. Please refer [here](https://github.com/TIBCOSoftware/be-tools/blob/docs-wiki/docs/Oracle%20Container%20Engine%20Kubernetes.md). We will add to wiki once internal review is completed

[2020-11-12 11:10] mmussett opened #137 "Expose JMX MBeans to Prometheus"
Expose the JMX MBeans to Prometheus using the Prometheus JMX Export (https://github.com/prometheus/jmx_exporter) Java Agent so that Prometheus can scrape metrics of the BE Application.

[2020-11-12 17:43] vpatil-tibco commented on #137
What is expected here from BE perspective? The way i see it and is being used, different mbeans/object names are relevant for different folks/customers. So they can always use the above github link to do the same via a java agent externally and select the rules for the mbeans/objectnames that are applicable for them.

[2020-11-13 09:35] mmussett commented on #137
I don't see any monitoring support provided by the tools as stated on the first page - "The cloud folder provide tools that enables you deploy and monitor". We should expose at least the JVM beans either for scraping or push the attributes to InfluxDB and/or Prometheus for monitoring.

[2020-11-13 18:19] vpatil-tibco commented on #137
There are 2 aspects here, the jmx mbeans which monitors internal/system data and then there are user metrics which end users define. For end user metrics we use InfluxDB/LiveView and with upcoming release an option to plug your own.

However, the JMX mbeans can be viewed via any jmx Browser i.e. JConsole/JVisualVM. Now if someone wants to collect internal/system metrics and wants to visualize them

[2020-11-16 15:03] #116 closed

[2020-11-17 05:57] rameshpolishetti commented on #120
Referred logs are produced by the docker test frame work, hence not possible to disable.

[2020-11-17 05:57] #120 closed

[2020-11-17 07:01] LakshmiMekala commented on #135
Documentation for OCI deployment is made available in [wiki for OCI](https://github.com/TIBCOSoftware/be-tools/wiki/Oracle%20Container%20Engine%20Kubernetes)

[2020-11-20 07:23] nareshkumarthota commented on #117
scripts improved and made available in branch `docker-scripts-improvements`

[2020-11-20 07:26] nareshkumarthota commented on #83
windows docker size and startup time improvements are available in branch `docker-scripts-improvements`

[2020-11-20 07:28] nareshkumarthota commented on #72
gvproviders framework is restructured. This issue is considered and changes made available in branch `docker-scripts-improvements`

[2020-11-20 08:06] nareshkumarthota commented on #70
Fix available in branch `docker-scripts-improvements`

[2020-11-20 08:07] nareshkumarthota commented on #55
scripts improved and made available in branch `docker-scripts-improvements`

[2020-11-20 08:09] nareshkumarthota commented on #22
Multiple docker scripts combined into single script `build_image`. This script is used to create all types of images. Changes made available in branch `docker-scripts-improvements`

[2020-11-20 08:11] nareshkumarthota commented on #21
This is taken care in improvements branch `docker-scripts-improvements`.

[2020-12-03 10:43] jgirase opened #140 "Update values.yaml for GV when Ignite cluster provider is used and storageclass in case of Amazon EKS"
This issue is reported to handle two problems as below,
1.The GV defined in values.yaml file for Ignite discovery url and ports are different than bundled FDCache/FDStore examples cdd files as IgniteClusterStore.cdd. User need to update either yaml file or project if deployment needs to be tested with Ignite cluster provider. Kindly make it consistent for easy configuration.
2.The storage class de

[2020-12-04 05:19] LakshmiMekala commented on #135
Closing the ticket, as doc is available in wiki

[2020-12-04 05:19] #135 closed

[2020-12-04 09:46] rameshpolishetti commented on #64
This enhancement is available at https://github.com/TIBCOSoftware/be-tools/tree/docker-scripts-improvements/cloud/docker/gvproviders

[2020-12-04 09:51] rameshpolishetti commented on #131
This enhancement is available at https://github.com/TIBCOSoftware/be-tools/tree/docker-scripts-improvements

[2020-12-04 10:06] rameshpolishetti commented on #136
This enhancement is available at - https://github.com/TIBCOSoftware/be-tools/tree/docker-scripts-improvements

Refer to values.yaml below section to enable liveness & readiness probes:

[code]

[2020-12-04 10:07] rameshpolishetti commented on #140
The fix is available at https://github.com/TIBCOSoftware/be-tools/tree/docker-scripts-improvements

[2020-12-04 14:16] jgirase opened #143 "Deployment of FDstore example with AS4 store failed on EKS when docker image is built using installation home"
Steps:
1.Build image of FDStore example with configuration Ignite cluster provider + Ignite cache + AS4 store using existing installation home.
2.Push the image to ECR and perform required AS4 grid setup
3.Deploy the application using helm chart.
4.Check cache/inference pod logs, it shows below exception,
Its looking for file dbkeywordmap.xml which is not present inside docker image when built usi

[2020-12-07 13:53] jgirase opened #144 "Logs shows incorrect cache nodes count when replicas set to 2 for cache agent for EKS deployment with Ignite cluster provider"
Steps:
1.Build image of FDStore/FDCache example with configuration Ignite cluster provider + Ignite cache + AS4/Cassandra store or persistence none using existing installation home.
2.Push the image to ECR and perform required AS4 grid/Cassandra setup
3.Set replicas=2 for cache node
4.Deploy the application using helm chart.
5.Check cache/inference pod logs, it shows incorrect cache node count,ide

[2020-12-07 19:24] vpatil-tibco commented on #133
This will be managed in a different repo. Closing this.

[2020-12-07 19:24] #133 closed

[2020-12-07 19:28] vpatil-tibco commented on #132
This will be handled in a separate repository. Closing this one.

[2020-12-07 19:28] #132 closed

[2020-12-08 06:27] nareshkumarthota commented on #143
fix is available in branch `docker-scripts-improvements`

[2020-12-09 06:48] jgirase commented on #143
Verified it with branch docker-scripts-improvements
Find attached logs for reference.
[fdstore_as4_ignite_logs.zip](https://github.com/TIBCOSoftware/be-tools/files/5663977/fdstore_as4_ignite_logs.zip)

[2020-12-09 09:15] ykalidin commented on #22
Script build_image has the source option which determines to build image using installer or frominstall option.Working as expected.

[2020-12-09 09:22] ykalidin commented on #70
Consolidated script uses build_image.bat. Script is working for more than 4 arguments as expected.
Verified in `docker-scripts-improvements` branch.

[2020-12-09 10:22] ykalidin commented on #21
Working as expected.The information about supplied arguments is same in linux and windows.

[2020-12-09 10:24] ykalidin commented on #55
Verified as per description.

[2020-12-09 10:29] ykalidin commented on #83
Latest windows image size is reduced. Runtime performance improved. Working as expected.

[2020-12-09 11:44] ykalidin commented on #117
Docker image creation steps and layers in docker image are reduced.Verified in docker-scripts-improvements.

[2020-12-10 03:39] nareshkumarthota commented on #136
validated working as expected.

[2020-12-10 06:42] jgirase commented on #143
already verified so closing it

[2020-12-10 06:42] #143 closed

[2020-12-10 09:40] jgirase commented on #127
We have verified following supported configurations with Ignite cluster provider using helm chart,

- Persistence None,Shared nothing
- Stores - MySQL DB, AS4, Cassandra

[2020-12-10 09:48] jgirase commented on #140
I could see the mentioned changes in values.yaml so closing it.
Verified it using branch https://github.com/TIBCOSoftware/be-tools/tree/docker-scripts-improvements

[2020-12-10 09:48] #140 closed

[2020-12-10 11:44] jgirase opened #145 "Update helm configuration for metric type influx as per version 2.0 as that will be the only supported version in BE 6.1.0"
In 6.1.0 influxDB version 2.0 will be supported so helm configuration need to change accordingly.
Kindly refer the bundled readme.html for example FraudDetectionInfluxDB for steps.
The values.yaml has influx configuration as per version 1.x which needs to be updated as per version 2.0
If the bundled example tried to run with existing helm setup it fails to connect to influxDB server.
Also the step

[2020-12-11 05:57] ykalidin commented on #64
Checked with aws custom config. Working as expected. Consul is aligned with the new framework.

[2020-12-11 06:44] ykalidin commented on #134
Available in `Building TIBCO BusinessEvents Application Docker Image` and `Before You Begin` documents in wiki `docs610`
branch. Verified.

[2020-12-11 10:32] LakshmiMekala commented on #145
Fixed issue with PR #146

@jgirase please validate the fix

[2020-12-11 11:16] jgirase commented on #145
Verified the fix with branch be-tools-fix-issue-145
Find attached logs and screenshots for reference.
[inf.log](https://github.com/TIBCOSoftware/be-tools/files/5678823/inf.log)
![Screenshot from 2020-12-11 16-18-47](https://user-images.githubusercontent.com/13216640/101897293-5463e000-3bd0-11eb-9f92-30dbc3c3b84b.png)

[2020-12-11 11:19] jgirase commented on #145
Verified the fix with branch be-tools-fix-issue-145
Find attached logs and screenshots for reference.
[inf.log](https://github.com/TIBCOSoftware/be-tools/files/5678831/inf.log)
![Screenshot from 2020-12-11 16-49-08](https://user-images.githubusercontent.com/13216640/101897635-db18bd00-3bd0-11eb-830b-d947e1bd4aae.png)

[2020-12-11 11:34] ykalidin commented on #131
Verified by Tanmay as mentioned in the [PR130](https://github.com/TIBCOSoftware/be-tools/pull/130).
Added required notes for load balancer creation in the documentation. Available in `docs610` branch in be-tools.wiki.

[2020-12-11 11:38] ykalidin commented on #72
Working as expected. Verified with the branch `docker-scripts-improvements`.

[2020-12-11 12:58] #131 closed

[2020-12-11 13:00] mmussett opened #147 "Support for docker agnostic OCI images"
With Kubernetes deprecating support for docker runtime wrapper for containers in 1.20 we should also offer the ability to create docker agnostic OCI compatible image builds.

See https://github.com/genuinetools/img as it supports different exporter types.

[2020-12-12 14:59] dijadhav opened #148 "Ignite properties for k8s"
To run the BE engine with ignite cluster in k8s following properties are required
1) tra.be.ignite.discovery.type - Type of the discovery . Current supported values are (k8s) (required)
2) tra.be.ignite.k8s.namespace - The namespace the Kubernetes service belongs to. Default value is default
3) tra.be.ignite.k8s.service.name - Name of Kubernetes service for Ignite pods' IP addresses lookup. The na

[2020-12-12 15:02] dijadhav commented on #144
#148 Check this also

[2020-12-14 09:30] jgirase commented on #145
Already verified so closing it

[2020-12-14 09:30] #145 closed

[2020-12-14 12:22] LakshmiMekala commented on #144
Fixed issue, please validate

[2020-12-15 08:53] jgirase commented on #144
Verified with branch fix-issue-144.
Ran scenarios like persistence none, Stores as AS4 and Cassandra with Ignite cluster provider with replicas=2/3.
Find attached logs for reference.
[logs_Issue144.zip](https://github.com/TIBCOSoftware/be-tools/files/5694499/logs_Issue144.zip)

[2020-12-15 08:53] #144 closed

[2020-12-15 09:45] LakshmiMekala commented on #148
Added ignite properties to values.yaml files. Closing this issue.

[2020-12-15 09:45] #148 closed

[2020-12-16 10:51] vilasshelar commented on #134
Verified.Can be closed

[2020-12-16 11:11] jgirase commented on #22
Now single docker image build script works for fromInstallation as well as fromInstallers.

[2020-12-16 13:42] tsaxena18 commented on #21
Verified for Windows and Linux platforms. The information of arguments is same as expected.

**For Linux** -->
[apps@beqacentos7 docker]$ ./build_image.sh -i app -a /home/apps/Testing/temp610/None-Iginte -s /home/apps/Installers/BE/610 -t fdci:610

INFO: Supplied/Derived Data:

INFO: INSTALLER DIRECTORY          : [/home/apps/Installers/BE/610]
INFO: APPLICATION DATA DIRECTORY   : [/home/apps/Test

[2020-12-16 15:40] rameshpolishetti commented on #22
Closing the issue as it is validated successfully.

[2020-12-16 15:40] #22 closed

[2020-12-16 15:41] rameshpolishetti commented on #21
Closing the issue as it is validated succesfully.

[2020-12-16 15:41] #21 closed

[2020-12-16 16:01] rameshpolishetti commented on #127
Closing the issue as it is validated successfully.

[2020-12-16 16:01] #127 closed

[2020-12-16 16:09] rameshpolishetti commented on #134
@mmussett inputs are taken care and updated docs are verified successfully. Closing the issue.

[2020-12-16 16:09] #134 closed

[2020-12-16 16:24] tsaxena18 commented on #117
There are less steps now while creating docker images. It is taking roughly 23 steps for app and 21 steps for RMS with less time as before.

[apps@beqacentos7 docker]$ ./build_image.sh -i app -a /home/apps/Testing/temp610/None-Iginte -s /home/apps/Installers/BE/610 -t fdci:610 --disable-tests
INFO: Supplied/Derived Data:

INFO: INSTALLER DIRECTORY          : [/home/apps/Installers/BE/610]
INFO: AP

[2020-12-16 17:18] rameshpolishetti commented on #117
Closing the issue as it is verified successfully.

[2020-12-16 17:18] #117 closed

[2020-12-17 08:18] tsaxena18 opened #150 "Parameters layout are not proper in BE engine logs when run as Windows container."
The initial listing of parameters is not displayed correctly and contains errors as described below :

C:\Share\be-tools-docker-scripts-improvements\cloud\docker>docker logs cache
JMX_PORT: 5555
BE_HOME: c:/tibco/be/6.1
TRA FILE: c:/tibco/be/6.1\bin\be-engine.tra
ENGINE NAME: be-engine
CDD FILE: c:/tibco/be/application/fdcache.cdd
PROCESSING UNIT: cache
EAR FILE: c:/tibco/be/application/ear/fdcach

[2020-12-17 08:26] tsaxena18 commented on #83
Verified docker image size, created from installers as well as from BE installations and they have been reduced considerably as shown below :
C:\Share\be-tools-docker-scripts-improvements\cloud\docker>docker images
REPOSITORY                             TAG        IMAGE ID       CREATED          SIZE
fdc                                    v64        963da91b626c   55 minutes ago   6.27GB
fdc

[2020-12-17 08:46] jgirase opened #152 "Getting error on helm deployment for mysql/efs-provisioner charts which are deprecated"
Got following error on helm deployment,
Error: found in Chart.yaml, but missing in charts/ directory: mysql, efs-provisioner
helm.go:94: [debug] found in Chart.yaml, but missing in charts/ directory: mysql, efs-provisioner

Above two charts are not getting downloaded and a zip file named deprecation-0.2.2.tgz gets downloaded.

Even those two charts copied manually deployment fails with error as be

[2020-12-17 08:50] LakshmiMekala commented on #152
Helm chart support for github.com/helm/charts/stable is deprecated.
As a temporary fix we are disabling dependency charts for mysql and efs-provisioner. Created PR #151

[2020-12-17 10:34] mmussett opened #153 "Need full user documentation"
Please provide comprehensive user documentation on the setup and configuration on how this is used with examples.

[2020-12-17 11:46] tsaxena18 commented on #70
Verified with more than 4 parameters and it went fine for windows script.
Attached build log file for the reference.
[docker-build.txt](https://github.com/TIBCOSoftware/be-tools/files/5709108/docker-build.txt)

[2020-12-17 12:19] jgirase commented on #136
Verified it with FDCache example and its working fine

[2020-12-17 12:20] tsaxena18 opened #154 "Need an option to exclude FTL and AS4x installation home when building image from local installation."
We need to include an option or a flag in docker build command to exclude FTL and AS4x installation home when building image using source as BE installation. Currently the script automatically detects the FTL and AS4x home and user cannot exclude those in creating image. If user needs to build the image using legacy AS then FTL and As4x are not required and vice-versa.

C:\Share\be-tools-docker-sc

[2020-12-17 13:05] nareshkumarthota commented on #150
fix updated in `docker-scripts-improvements`. Kindly validate.

[2020-12-17 13:17] rameshpolishetti commented on #154
@tsaxena18 Looks like your be-engine.tra defines FTL, AS & ASLegacy home path variables.

Scripts include FTL/AS/ASLegacy artifacts only if they are referred in the be-engine.tra, hence explicit flags are not required.

[2020-12-17 13:38] rameshpolishetti commented on #152
@jgirase This issue is coming because helm stable repositories are no longer available at https://kubernetes-charts.storage.googleapis.com. Until we find alternative charts for mysql & efs, respective chart archives are added to charts/ folder. With this user can directly deploy the app using `helm install` without `helm dep update`

Fix is available in the branch `docker-scripts-improvements`

[2020-12-17 13:45] rameshpolishetti opened #156 "Find alternative helm chart repositories for mysql & efs"
Currently, BE helm chart depends on mysql & efs helm charts which are hosted at `https://kubernetes-charts.storage.googleapis.com` known as helm stable charts. Now, helm no longer supports stable charts.

Find out alternative helm chart repositories for mysql & efs which work for us.

[2020-12-17 16:19] rameshpolishetti commented on #70
Thank you @tsaxena18. Closing the issue as it is verified successfully.

[2020-12-17 16:19] #70 closed

[2020-12-17 16:21] rameshpolishetti commented on #83
Closing the issue as it is verified successfully.

[2020-12-17 16:21] #83 closed

[2020-12-17 16:22] rameshpolishetti commented on #136
Thank you @jgirase. Closing the issue as it is verified successfully.

[2020-12-17 16:22] #136 closed

[2020-12-17 18:07] vpatil-tibco commented on #153
What is this one about?

[2020-12-18 05:26] tsaxena18 commented on #154
@rameshpolishetti , Yes my be-engine.tra contains those values. But still it does not make sense to include FTL, AS4x installation if my application is based on legacy AS. Using installers we have the option to remove the FTL, AS4x installers from source but here we do not hve any control.

[2020-12-18 06:44] rameshpolishetti commented on #154
@tsaxena18 In an ideal scenario does the be-engine.tra contains all home paths (FTL, AS4x & ASLegacy) when the application is based on ASLegacy?
For second note: Yes in case of `build from installers` you can keep only required installers under the source folder, the same can be achieved in case of `build from local installation` by updating only required home paths (among FTL, AS4x & ASLegacy) in

[2020-12-18 10:26] tsaxena18 commented on #150
Verified the fix by running cache container from images built with Installers as well as from Installation and the logs are fine.
Attached docker run log for the reference.
[cache-win-pr150.txt](https://github.com/TIBCOSoftware/be-tools/files/5715116/cache-win-pr150.txt)

[2020-12-18 10:26] #150 closed

[2020-12-18 12:38] tsaxena18 commented on #154
It is not required to have FTL and AS4x installations set in be-engine.tra for application based on legacy AS but it is critical when image size is in question. If flag is not the option then we should add a note about this in the docs in case of build from local installation with regard to image size.

[2020-12-18 12:40] tsaxena18 commented on #154
I have updated the title and original summary as it is applicable to both Windows and Linux scripts.

[2020-12-18 12:52] jgirase commented on #72
Image is built successfully with consul gv provider.
[consul_image_docker.log](https://github.com/TIBCOSoftware/be-tools/files/5715724/consul_image_docker.log)

Find attached logs for reference

[2020-12-18 13:23] jgirase commented on #64
Verified consul gv provider on EKS. Find attached logs for reference.
[consul_logs.zip](https://github.com/TIBCOSoftware/be-tools/files/5715892/consul_logs.zip)

[2020-12-18 13:41] jgirase commented on #152
Dependant charts are present now in charts folder as below,
~/Downloads/be-tools-docker-scripts-improvements/cloud/kubernetes/helm/charts$ ls
efs-provisioner-0.11.0.tgz  grafana-6.1.14.tgz  influxdb-4.8.4.tgz  mysql-1.6.2.tgz

No error on helm deployment now,
~/Downloads/be-tools-docker-scripts-improvements/cloud/kubernetes/helm$ helm install test-helm .
NAME: test-helm
LAST DEPLOYED: Fri Dec 18 1

[2020-12-18 13:41] #152 closed

[2020-12-18 14:23] rameshpolishetti commented on #64
Thank you @jgirase. Closing the issue as it is verified successfully.

[2020-12-18 14:23] #64 closed

[2020-12-18 14:23] rameshpolishetti commented on #72
Thank you @jgirase. Closing the issue as it is verified successfully.

[2020-12-18 14:23] #72 closed

[2020-12-18 15:03] tsaxena18 commented on #55
Verified few things as listed below :
1. Docker image size has been considerably reduced for both Linux and Windows container. For Linux, it is approx. 760mb and for Windows it is 6gb. Same for images built from local installation.

2. The BE application, RMS and TEA images, built from both the methods, have specific folders related to component as described below :

[apps@beqacentos7 ~]$ docker r

[2020-12-18 18:13] rameshpolishetti commented on #55
Thank you @tsaxena18. Closing the issue as it is verified successfully.

[2020-12-18 18:13] #55 closed

[2020-12-22 14:43] rameshpolishetti opened #158 "All cache nodes are not discovered in case of AS2 cluster based BE fdcache app deployment"
When I try to deploy AS2 cluster-based BE application with 3-cache nodes + 1-inference node, I see **all 3 cache nodes are not connected to each other**.

**Steps to reproduce:**
1. Navigate to helm folder
`cd /cloud/kubernetes/helm`
2. Set values in the values.yaml
`cmType: as2`
`omType: cache`
`bsType: none`
`image: <image name>`
`cachenode.replicaCount: 3`
3. Do helm install
`helm install beapp

[2020-12-23 05:30] rameshpolishetti commented on #158
@ykalidin fix is available at https://github.com/TIBCOSoftware/be-tools/tree/fix-issue-158

[2020-12-24 04:50] #158 closed

[2020-12-24 12:53] nareshkumarthota commented on #154
@tsaxena18  Comment updated in wiki docs. Check [here](https://github.com/TIBCOSoftware/be-tools/wiki/Before-You-Begin).

[2021-01-04 04:55] tsaxena18 commented on #154
Confirmed. The note has been included in the docs which says,
"When building image from local installation, build script looks for FTL_HOME, ACTIVESPACES_HOME & AS_HOME in the be-engine.tra, If they are defined with valid paths, respective artefacts are copied into the image. If you want to include/exclude any of them in the docker image make sure the path is updated/emptied properly for the respe

[2021-01-04 04:55] #154 closed

[2021-01-06 15:15] tsaxena18 opened #160 "Cannot read values from GV provider consul when docker image is build on windows platform."
The issue seem to be specific to windows batch scripts related to build image as described by error shown below :

C:\Share\be-tools-2.1.0\cloud\docker>docker run  --name=inf --net=my_net -e PU=default -e AS_DISCOVER_URL=tcp://cache:50000 -e CONSUL_SERVER_URL=http://consul:8500 -e BE_APP_NAME=fdcapp -e APP_CONFIG_PROFILE=qa -p 8109:8109 fdc:610c
INFO: Reading GV values from [consul]
INFO: CONSUL_S

[2021-01-07 11:23] tsaxena18 commented on #160
Re-verified on windows platform by creating new docker images (by enabling/disabling firewall) and found it to be working with fresh BE app. images. It looks like the previous images were not built properly (may be due to network glitch) though the build process went fine.  It was found that the consul file was missing in docker image in which case the build process itself should have failed with

[2021-01-07 11:23] #160 closed

[2021-01-11 13:55] mmussett opened #161 "jq bundled with gvproviders but no licence"
We've bundling jq in here but i don't see the authors licence which also contributes IBM.

[2021-01-12 12:50] LakshmiMekala commented on #156
fix available in fix-issue-156 branch

[2021-01-15 06:03] rameshpolishetti commented on #161
@mmussett Update `be-tools` license and copied the jq-license alongside `jq` binary for Linux containers.

For Windows containers, we use windows PowerShell chocolatey package manager instead of directly downloading the `jq` binary. Hence I feel no action required in this case.

[2021-01-18 12:39] mmussett opened #163 "Support for SAML Authentication for AWS GV Provider"
**Context**

As well as AWS Credentials (key+secret) as authentication type we need to support SAML as another authentication type.

With SAML Authentication, will need provide the following values to be able to connect to AWS Secrets Manager Service

- Identity Provider (IdP) Type - ADFS
- Identity Provider Login URL - Example URL for ADFS: https://<host>:<port>/adfs/ls/ IdpInitiatedSignOn.aspx?

[2021-01-18 13:28] mmussett opened #164 "Support for AWS Systems Manager Params Store"
**Context**

Currently GV Framework only supports pulling values from AWS Secrets Manager for both Credentials (Passwords) and non-credential configuration values.

We need to be able to support separation of concern for what is credential data (i.e. passwords) from  parameters such that any Global Variables that are of type password are retrieved from AWS Secrets Manager and all other types are r

[2021-01-18 13:34] mmussett opened #165 "Ability to pull certificates from AWS Certificate Manager during container image build"
**Context**

Ability to pull certificates from AWS Certificate Manager during container image build and to include exported certificates within the container image for consumption by BE Engine.

[2021-01-19 15:37] rameshpolishetti opened #167 "Upgrading the BE app using helm is failing"
Upgrading the BE app using `helm` is failing, following are steps to reproduce the issue:

1. Install the BE app using _helm install myapp ._
2. Update values.yaml with new values (lets replicaCount: 1 to 2)
3. Upgrade the BE app using _helm upgrade myapp ._

**Actual behavior**:
_Error: UPGRADE FAILED: failed to create patch: map: map[] does not contain declared merge key: name_

**Expected behav

[2021-01-20 05:30] #161 closed

[2021-01-28 07:32] LakshmiMekala commented on #167
Fixed issue in branch [fix-issue-167](https://github.com/TIBCOSoftware/be-tools/tree/fix-issue-167)

[2021-02-09 05:20] ykalidin commented on #156
Verified mysql chart, working as expected.
Efs is provided without the helm chart. Verified Efs provisioning in eks cluster working fine.

[2021-02-09 05:22] ykalidin commented on #167
Working as expected, verified by upgrading replicas for below cases:
Image without pullsecret
Image with secret
Image with registry credentials

[2021-02-09 06:43] #167 closed

[2021-02-11 09:40] AdittyThakare opened #171 "Mention allowed 'cpType' parameter values for Oracle Cloud in Wiki/Helm values.yaml"
Currently we have not mentioned valid values for 'cpType' parameter w.r.t Oracle Cloud, have tested with value as 'oci'. We have mentioned values for other cloud providers as follows in Helm->values.yaml file:

#Required parameter to be passed for all cloud providers
cpType: minikube      #cpType can be minikube, aws, awsfargate, azure, openshift OR gcp

Please document the valid values for 'cpTyp

[2021-02-12 05:35] LakshmiMekala commented on #171
Added cpType as oci in values.yaml. Fixed with PR #170

[2021-02-19 18:37] rameshpolishetti opened #172 "Pull configurations from multiple gv-providers"
**Context**
By using the existing GV Configuration Framework, users can only configure one gv-provider i.e either consul/http/custom. It's quite possible that configurations are available at multiple places. For example, some are in consul and some are in http end stores. Add ability to pull configurations from multiple gv-providers to address the need.

**Alternatives**
Not available

**Has the f

[2021-02-19 19:50] vpatil-tibco commented on #147
We are looking at a few,
1. [img](https://github.com/genuinetools/img)
2. [buildah](https://github.com/containers/buildah)
3. [jib](https://github.com/GoogleContainerTools/jib)

Of these 2 and 3 are strong contenders.

[2021-02-19 20:02] vpatil-tibco opened #173 "Kubernetes Operator Support"
**Context**
Need support for Kubernetes Operator. Following are the highlights around what this operator should support at the minimum,

1. Ability to dynamically scale BE nodes (cache/inference) based on resource (memory/cpu) thresholds.
2. Ability to distribute BE nodes evenly across resources (hardware/boxes/etc). Should apply to both scale up and scale down.
3. Ability to replace dead/unrecove

[2021-03-03 09:19] rameshpolishetti commented on #147
After evaluating [img](https://github.com/genuinetools/img), [buildah](https://github.com/containers/buildah) & [jib](https://github.com/GoogleContainerTools/jib) based on various parameters like - licensing, popularity, sub dependencies, export types, easy integration with existing be-tools scripting, etc.. `buildah` got more credits. Hence going with [buildah](https://github.com/containers/build

[2021-03-03 13:08] tsaxena18 opened #174 "Build_Image : Unit tests did not run."
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |    6.1.0            |
| OS Type?       |     Linux           |
| OS Version?    |    CentOS 7.9            |
| Docker         |    20.10.5            |
| Kubernetes     |   NA             |
| Helm           |       NA         |

### What is the expected behavior?
The docker image buil

[2021-03-03 14:18] nareshkumarthota commented on #174
In `sh` shell  `source` command not available. Try using `bash` or `/bin/bash` before  `build_image.sh`

[2021-03-03 14:32] tsaxena18 commented on #174
When we run the command using ./ instead using sh , it went fine. No error. Unit tests ran successfully.
./build_image.sh -i app -a /home/apps/Testing/temp610/SA -s /home/apps/Installers/BE/610 -t fdsamysql:610Ign2

[2021-03-04 04:52] vshende-tibco commented on #147
Mark, correct me if I am wrong, but as far as I know, there is no impact on
how images are built with this deprecation. (It is only about deprecating
dockershim). Since Docker images are already OCI compatible, do we really
need to act? (question of priority).

On Fri, Dec 11, 2020 at 6:30 PM Mark Mussett <notifications@github.com>
wrote:

--
Vivek

[2021-03-04 05:42] tsaxena18 commented on #174
Does it require any adjustment in scripts (for running on diff. OS) or shall I close it ?

[2021-03-04 06:02] nareshkumarthota commented on #174
In General or As per documentation execution of script should be done using `./`. Adjustments or not required you can close this issue.

[2021-03-04 06:03] tsaxena18 commented on #174
Closing as per comments.

[2021-03-04 06:03] #174 closed

[2021-03-04 18:08] vpatil-tibco commented on #147
Let me explain how this works. Yes, docker images are OCI compatible to the image spec. That was never an issue. The issue is more about runtime. Since our choice of container orchestration is going to be kuberenetes atleast for a near future, we need to comply/move in the direction Kubernetes platform evolves.

Post deprecation, today Kubernetes supports 2 CRI runtimes, containerd and CRI-O. Dock

[2021-03-04 18:09] vpatil-tibco commented on #147
Let me explain how this works. Yes, docker images are OCI compatible to the image spec. That was never an issue. The issue is more about runtime. Since our choice of container orchestration is going to be kuberenetes atleast for a near future, we need to comply/move in the direction Kubernetes platform evolves.

Post deprecation, today Kubernetes supports 2 CRI runtimes, containerd and CRI-O. Dock

[2021-03-05 05:06] vshende-tibco commented on #147
Thanks for the explanation. Understand the most part, but part I am
confused about is your last line. By being OCI compliant, those images are
by definition docker agnostic and should be able to run on any container
runtime (CRI-O, containerd) that comply with OCI standard. Or am I missing
something?

On Thu, Mar 4, 2021 at 11:39 PM Vikram Patil <notifications@github.com>
wrote:

--
Vivek

[2021-03-05 19:17] vpatil-tibco commented on #147
With docker agnostic, i meant, being able to create OCI images without needing docker at all. Since folks are/will move away from docker runtime since its not CRI compatible. Then there is little motivation to use docker just for creating OCI images, only then run them with a CRI compatible runtime.

[2021-03-09 05:33] #156 closed

[2021-03-09 05:33] #171 closed

[2021-03-15 16:19] rameshpolishetti commented on #163
SAML authenticated AWS GV provider implementation is available under the branch `feature-gv-provider-saml-aws`:
https://github.com/TIBCOSoftware/be-tools/tree/feature-gv-provider-saml-aws/cloud/docker/gvproviders/custom/samlaws

Follow below steps to try this GV:

build BE app image:
[code]

run BE app:
[code]

[2021-03-18 05:17] nareshkumarthota commented on #172
This feature is available in PR #175.

**How to test:**
Add multiple gv values in comma separated format.
[code]
While running/deploying above image, make sure to pass all environment variables corresponding to gvs.

[2021-03-19 14:10] tsaxena18 opened #178 "Consul - Extra GV entry in docker engine logs when using gvar under group."
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |  6.1.0              |
| OS Type?       |   Linux             |
| OS Version?    |    CentOS7            |
| Docker         |    20.10.5            |
| Kubernetes     |     NA           |
| Helm           |   NA             |

### What is the expected behavior?
The configured gvars in

[2021-03-19 14:33] tsaxena18 commented on #178
It looks like an unusual behavior in consul itself. Refer this discussion --> https://groups.google.com/d/topic/consul-tool/EPT7UftgXPs
Look for the part where they say "Infact, if you try creating a folder first, and later create kv inside it, it creates a key with the folder name itself and put a null value to it.
If you create the key in a recursive way as folder/kv, only the key will be create

[2021-03-22 03:23] tsaxena18 commented on #178
Nothing on BE side to do. Its a consul behavior, hence closing it.

[2021-03-22 03:23] #178 closed

[2021-03-22 03:40] #172 closed

[2021-03-24 19:25] vpatil-tibco opened #179 "Kubernetes Sidecar support"
**Context**
Sidecar is supported oob starting Kubernetes 1.18.x. Customer has requested support. Their requirement is to mark container dependencies and leverage sidecar lifecycle pattern to achieve that.

**Alternatives**
This can be done today by manually add/modifying existing yaml configurations.

**Has the feature been requested before?**
https://jira.tibco.com/browse/BE-29690

**If the featu

[2021-03-25 04:25] rameshpolishetti commented on #64
This enhancement got merged into master. Please refer to the  documentation at https://github.com/TIBCOSoftware/be-tools/wiki/Using-GV-Configuration-Framework

[2021-03-29 12:20] rameshpolishetti commented on #147
With PR #176 @nareshkumarthota added support to build OCI compatible BE application container images using [buildah](https://github.com/containers/buildah) tool.

[2021-04-02 05:40] AdittyThakare opened #180 "Update AS 2.x compatibility versions in asleg.bat/sh"
Encountering following error while building docker image with BE 6.1.1 and AS 2.4.1.
[code]
Kindly update the asleg.bat/sh to include following entries:
set VALID_AS_LEG_MAP_MAX[6.1.1]=2.4.0
set VALID_AS_LEG_MAP_MAX[6.1.1]=2.4.1

We dont support AS 2.3.0 in BE 6.0.0 and BE 6.1.0 releases So please remove entries for AS 2.3.0 and include entries for 2.4.0 with 6.0.0 and 6.1.0.

[2021-04-02 10:00] nareshkumarthota commented on #180
Changes available in branch `feature-oci-image-buildtool`.

[2021-04-05 19:22] vpatil-tibco opened #181 "Wiki/Readme update to use abstract content for containerization"
**Context**
Currently all our documentation is around "dockerization of BE application", with OCI + non docker runtime we now have alternative containerization and/or runtime support (via #147). Our documentation should reflect the same, i.e. abstract it at the containerization level with options to go docker or non docker route.

**Alternatives**
No

**Has the feature been requested before?**
Yes

[2021-04-12 04:49] tsaxena18 opened #182 "Buildah - Getting warning for missing "BE_PRODUCT_EDITION" build argument."
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |        6.1.1        |
| OS Type?       |      CentOS          |
| OS Version?    |    7.9            |
| Docker         |          20.10.5      |
| Kubernetes     |     NA           |
| Helm           |     NA           |

### What is the expected behavior?
The buildah image build log

[2021-04-12 04:57] nareshkumarthota commented on #182
Can you try again by taking latest changes.

[2021-04-12 05:12] tsaxena18 opened #183 "Build time is longer for both tools (Docker & Buildah)."
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |    6.1.1            |
| OS Type?       |       CentOS         |
| OS Version?    |       7.9         |
| Docker         |     20.10.5           |
| Kubernetes     |     NA           |
| Helm           |      NA          |

### What is the expected behavior?
The image build time should

[2021-04-12 05:18] tsaxena18 opened #184 "Not able to build docker/buildah images with ActiveSpaces 4.x."
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |         6.1.1       |
| OS Type?       |      CentOS          |
| OS Version?    |      7.9          |
| Docker         |    20.10.5            |
| Kubernetes     |      NA          |
| Helm           |       NA         |

### What is the expected behavior?
The application image shoul

[2021-04-12 05:22] nareshkumarthota commented on #184
for be 6.1.1 supported as version is 4.6.1

[2021-04-12 05:43] tsaxena18 opened #185 "BE containers taking longer time to start."
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |      6.1.1          |
| OS Type?       |     CentOS           |
| OS Version?    |       7.9         |
| Docker         |     20.10.5           |
| Kubernetes     |     NA           |
| Helm           |     NA           |

### What is the expected behavior?
The BE containers should st

[2021-04-12 06:23] rameshpolishetti opened #186 "Starting from BE 6.1.1 RMS does not have a dependency on AS2"
**Context**
Currently, the default RMS is configured (and supported) with AS2 Cluster and Cache providers. Starting from BE version 6.1.1, Ignite providers are configured by default.

This implies for BE version 6.1.1 and above, RMS does not have a mandatory dependency on AS2. Update container build scripts to accommodate this behavior.

**Alternatives**
NA

**Has the feature been requested before

[2021-04-12 07:17] tsaxena18 commented on #184
Confirmed.
The image build process went fine with docker and buildah with suppoted version AS 4.6.1 is used.

[2021-04-12 07:17] #184 closed

[2021-04-12 08:44] nareshkumarthota commented on #186
changes pushed into branch `feature-oci-image-buildtool`

[2021-04-12 08:52] tsaxena18 commented on #185
I feel this may not be related to image scripts but can be a case with BE 6.1.1 in general. I am checking with other BE app with different cache provider and update the result here.

[2021-04-12 09:15] mmussett opened #187 "Support for AWS Default Credential Chain for GV Framework"
**Context**
When using GV Framework to extract content from AWS configuration services such as Credential Manager we need to be able to use the default credential chain model rather than provide explicit credentials on the command line so that when deployed to ECS Fargate the credentials are passed to the container environment using ECS Task Role model.

**Alternatives**
N/A

**Has the feature bee

[2021-04-14 12:25] AdittyThakare opened #188 "Allow building RMS image with desired cluster type"
We support RMS with AS2/FTL/Ignite cluster types in 6.1.1 now.

While building RMS image we just pass the installers and not CDD file to pick configuration as desired. Currently, even if we pass FTL/AS2 installers while building RMS image, on docker run could see that RMS is starting with Ignite cluster as we have set Ignite Cluster in the default CDD/EAR.

There should be a way for user to specif

[2021-04-15 04:39] tsaxena18 commented on #185
This is the observation across BE 6.0.0, 6.1.0, 6.1.1 (built images with same branch feature-oci-image-buildtool).
The time taken in BE 6.0.0 and 6.1.0 for loading catalog functions is around 7 sec. while BE 6.1.1 is taking 80 sec. for the same.
Also the container starts quickly if it is stop first time and resarted, but if it is killed/removed and started again then again it takes 80 sec.
Now I t

[2021-04-15 04:48] tsaxena18 commented on #183
This is my observation across BE 6.0.0, 6.1.0 and 6.1.1 (built images with same branch feature-oci-image-buildtool). All the tests performed on same machine - physical CentOS. I have cleaned up cache (docker system prune, etc) before performing these tests.
The time taken by each version of BE with buildtype docker and buildah is listed below : (Used FDCache app with cache as AS2x)

6.0.0 - Docker

[2021-04-15 05:10] tsaxena18 commented on #182
Agree fixed.
The warning is no longer present in build log.
Attached log for the reference.
[AfterFix.txt](https://github.com/TIBCOSoftware/be-tools/files/6315273/AfterFix.txt)

[2021-04-15 05:10] #182 closed

[2021-04-15 06:19] tsaxena18 opened #189 "Update build image utility description for buildah limitations."
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |         6.1.1       |
| OS Type?       |       CentOS         |
| OS Version?    |      7.9          |
| Docker         |  20.10.5              |
| Kubernetes     |      NA          |
| Helm           |       NA         |

### What is the expected behavior?
The utility should have the

[2021-04-15 06:29] tsaxena18 opened #190 "Support to provide repo authentication with build image utility."
**Context**
What are you trying to do and how would you want to do it differently? Is it something you currently you cannot do? Is this related to an issue/problem?
I am trying to build images with default setting and sometimes I ran into this known issue.
failed to solve with frontend dockerfile.v0: failed to create LLB definition: failed to copy: httpReadSeeker: failed open: unexpected status co

[2021-04-15 09:01] nareshkumarthota commented on #188
By default `RMS.cdd` is configured to `CDD_FILE`.CDD_FILE=/opt/tibco/be/${BE_SHORT_VERSION}/rms/bin/RMS.cdd

[2021-04-19 07:47] tsaxena18 commented on #185
I tried with the latest build v29 on the same machine and it is no more reproducible. Hence closing the ticket.

[2021-04-19 07:47] #185 closed

[2021-04-21 05:15] LakshmiMekala commented on #183
Tried debugging the build time on centos machine and observed that docker image build on centos is taking 6-9 mins time to build docker image for different versions of BE 5.6,6.0,6.1,6.1.1. However BE 6.1.1 is taking ~20sec longer time to install on centos as well as ubuntu 20.04 machine. Hence resolving the ticket

[2021-04-22 05:20] nareshkumarthota commented on #188
Now in case of rms, flag `--app-location` is made optional. If user supplies cdd and ear those will be used while running the container. If user didn't supply any then deafult `RMS.cdd` and `RMS.ear` is used. Updated code available in branch `feature-oci-image-buildtool`

[2021-04-22 14:26] AdittyThakare opened #191 "RMS image container exiting abruptly when started with Ignite cluster"
RMS image when executed with Ignite Cluster(default RMS.cdd), engine is getting exited abruptly. Tested with BE V29/V34 builds.
Faced same  issue on Windows/Mac OS and CentOS platforms.

Command executed to run container was as follows:
`docker run --net=n3 -p 8090:8090 -e PU=default -e COMPONENT="rms" -e be.engine.id.useLegacy=true -m 2G -v /home/apps/Docker:/opt/tibco/be/6.1/rms/shared maven_rms

[2021-04-22 16:53] nareshkumarthota commented on #191
This behavior is observed because of memory issue. Try adding ` --cpu-count` and `--memory` params to docker run command. example command looks like `docker run --cpu-count 8  --memory 12g <imagename>`

[2021-04-23 13:22] AdittyThakare opened #192 "Add Helm Chart support for RMS/TEA"
Currently we do not support helm charts for RMS/CreditCardApplication/TEA image types. Kindly provide support for the same.

[2021-04-27 09:30] tsaxena18 commented on #189
The necesssary information has been included :
[apps@beqacentos7 docker]$ ./build_image.sh -h

Usage: build_image.sh

 [-i/--image-type]    :    Type of the image to build ("app"|"rms"|"teagent"|"s2ibuilder") [required]
                           Note: For s2ibuilder image usage refer to be-tools wiki.

 [-a/--app-location]  :    Path to BE application where cdd, ear & optional supporting jars are

[2021-04-27 09:30] #189 closed

[2021-04-27 10:28] AdittyThakare commented on #191
RMS with Ignite cluster container started successfully after increasing cpu-count/memory parameters. Attaching log for reference.

[2021-04-27 10:28] #191 closed

[2021-04-27 10:31] AdittyThakare commented on #180
Docker images are successfully getting built with BE 6.1.1 + AS 2.4.1 now. Adding docker build logs for FDCache application.
[Windows_fdc_V25.txt](https://github.com/TIBCOSoftware/be-tools/files/6383813/Windows_fdc_V25.txt)

[2021-04-27 10:31] #180 closed

[2021-04-27 12:20] tsaxena18 commented on #183
It is mostly BE 6.1.1 installation that is taking most of the time during image build. Hence closing the ticket.

[2021-04-27 12:20] #183 closed

[2021-04-28 08:24] AdittyThakare commented on #188
The Build App Image help section has been updated as follows:
` [-a/--app-location]  :    Path to BE application where cdd, ear & optional supporting jars are present
                           Note: Required if --image-type is "app"
                                 **Optional if --image-type is "rms"**
                                 Ignored  if --image-type is "teagent" or "s2ibuilder"`

Have v

[2021-04-28 08:24] #188 closed

[2021-04-28 10:01] #147 closed

[2021-04-28 10:01] #186 closed

[2021-04-29 20:40] vsirimalla opened #193 "Build application image without mutlistage builds"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |     5.6.1      |
| OS Type?       |    RHEL        |
| OS Version?    |    7.9         |
| Docker         |      V1.13     |
| Kubernetes     |                |
| Helm           |                |

### What is the expected behavior?
We are use Docker that's shipped with RHEL. and this

[2021-04-30 03:55] nareshkumarthota commented on #193
Can you try with `buildah` tool instead of `docker`.

Steps:
1. Install `buildah` tool from [here](https://github.com/containers/buildah/blob/master/install.md#rhel7).
2. Pull the master scripts from be-tools repo
3. Try executing build script with `-b` argument.
[code]

[2021-04-30 05:01] vsirimalla commented on #193
I tried and got `User namespaces are not enabled in /proc/sys/user/max_user_namespaces.`
Also, we may not able to install tools like `buildah `on our enterprise jenkins Servers for the security reasons.

Could you please help with alternatives scripts leverage existing Docker installation  on RHEL?

I did try the following and got partial success.
1) I have two different Dockerfiles, with the firs

[2021-04-30 05:16] nareshkumarthota commented on #193
We already have option to avoid repeated installation for each build. This is achieved if we use `image_type` as `s2ibuilder`.
First you need to create base image by passing `-i` as `s2ibuilder` with all required installers later with help of `s2i` tool you can recreate application image by passing application artefacts. Complete information is available in [wiki](https://github.com/TIBCOSoftware/

[2021-04-30 07:50] rameshpolishetti commented on #193
@vsirimalla Red Hat Enterprise Linux offers a set of container tools (`buildah`, `podman`, etc...) to work directly with Linux containers and container images that require no container engine or docker commands or services. Refer: [RHEL docs](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html/managing_containers/finding_running_and_building_containers_with_po

[2021-05-04 11:03] LakshmiMekala commented on #192
Required code changes are made available in PR #194

[2021-05-05 17:21] rameshpolishetti commented on #179
So far (i.e till Kubernetes v1.21) the concept of sidecar containers to Kubernetes not became reality. Refer - https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/753-sidecar-containers#implementation-history

We can consider this when it is made available in the Kubernetes release.

[2021-05-05 17:37] rameshpolishetti opened #195 "Enable Horizontal Pod Autoscaler functionality"
**Context**
Enable Kubernetes native `Horizontal Pod Autoscaler` functionality through BE helm chart, so that the number of `inference` or `cache` pods in the BE deployment gets scaled automatically based on `CPU` and/or `Memory` utilization.

**Alternatives**
It can be done manually.

**Has the feature been requested before?**
NA

**If the feature request is approved, would you be willing to subm

[2021-05-07 08:50] LakshmiMekala commented on #195
Feature is made availble in PR #194

[2021-05-19 12:35] jgirase opened #197 "Support HA for RMS deployment"
Currently with RMS helm deployment , there is no configuration for replicas.
We can add it for high availability of RMS server or cluster of RMS pods.

[2021-05-20 08:47] LakshmiMekala commented on #197
Fixed with PR #194.

@jgirase validate the fix

[2021-05-27 07:34] jgirase opened #200 "If storageClass name is provided in values.yaml, generated pvc still shows storageclass as """
In values.yaml, provide storageclass name as efs-sc as below,

volumes:
  #Required for sharednothing and store in all cloud providers
  pvProvisioningMode: dynamic                 # Default set to dynamic, For aws eks(dynamic or static) and fargate set to `static`, and
  storageClass: efs-sc                 #Use one of the available storage classes as per your preference, for aws cluster with  `p

[2021-05-27 12:13] jgirase opened #201 "When RMS is configured with persistence SharedNothing , helm delete/recreate with same release name does not persist data"
Prerequisite:
1.EKS cluster running with efs csi driver provisioning
2.ECR should have RMS/CCA images with configurations as Ignite + Ignite +Shared Nothing
3.EFS file system created in same vpc as eks cluster

Steps:
1.Update values.yaml as per required configuration shared nothing
2.Keep storageclass empty so that it will be generated using release name with provisioning mode as dynamic
3.Deploy

[2021-05-31 04:15] LakshmiMekala commented on #200
This is expected for pvProvisioningMode:static, eks fargate and eks cluster do not require any storageclass, User need to create required directories as per the requirement, inside efs file system like: data-store,logs etc,

This is not an issue

[2021-05-31 05:07] jgirase commented on #200
This has been observed for pvProvisioningMode: dynamic
let us know if its expected?

[2021-05-31 07:16] LakshmiMekala commented on #200
When pvProvisioningMode: dynamic, storageClass: set to empty, be helm deployment will create a storageclass with prefixing releasename(<releasename>-be-sc).

[2021-05-31 09:14] LakshmiMekala commented on #200
There is an issue with cpType=aws,pvProvisioningMode: dynamic, storageClass: set to empty. Fixed the issue in PR #194

[2021-05-31 09:33] jgirase commented on #201
@vpatil-tibco For volumes like shared nothing data store and logs with respect to RMS deployment , I think we need to persist the data across helm install/uninstall of same release to maintain the state of RMS lifecycle. However, data present on other volumes like security/notify/share/webstudio I am not sure do we really need to persist it or not post helm uninstall so it would be helpful if you

[2021-05-31 12:28] jgirase opened #202 "RMS engine log file name is not consistent with application when logs are mounted"
When mountLogs is enabled , it saves log to store. So when RMS along with Creditcardapplication is deployed  to EKS cluster , log files are saved to EFS. Application like CCA log files are persisted with prefix  helm release name however same is not applied to RMS logs.
Kindly make it consistent for RMS as well as Application deployments.
Please refer below log files listed on EFS ,

[ec2-user@ip-

[2021-06-01 07:01] LakshmiMekala commented on #201
Fixed with PR #194

[2021-06-01 07:02] LakshmiMekala commented on #202
Fixed with PR #194

[2021-06-01 08:46] jgirase commented on #200
Its working as expected with latest changes available in branch feature-rms-helm.
Find attached logs for reference.
[rms-dynamic.log](https://github.com/TIBCOSoftware/be-tools/files/6574796/rms-dynamic.log)

[2021-06-01 08:46] #200 closed

[2021-06-01 08:53] rameshpolishetti opened #204 "Distribute BE instances (pods) evenly across available nodes"
**Context**
Enable Kubernetes native `pod affinity` functionality through BE helm chart, so that the BE instances (pods) distribute evenly across available nodes (physical boxes).

**Alternatives**
No

**Has the feature been requested before?**
No

**If the feature request is approved, would you be willing to submit a PR?**
Yes

[2021-06-01 10:05] jgirase commented on #202
Its fixed now. Verified on branch feature-rms-helm
Find below logs for reference
[ec2-user@ip-192-168-16-62 rms-applog]$ ls
rms-static-rms-0-ignite.log  rms-static-rms-0.log

[2021-06-01 10:05] #202 closed

[2021-06-01 16:05] LakshmiMekala commented on #204
Required implementation is completed and available with PR #194

[2021-06-01 16:37] rameshpolishetti commented on #193
Hi @vsirimalla, Just wanted to check whether you are able to use `buildah` to build BE application container image?

[2021-06-02 03:42] vpatil-tibco commented on #201
Agree, datastore is mandatory, it needs to exists outside of the lifecycle of rms service. Logs, security and shared folders can be optional. I feel its best for the end user to have this option, if they want to maintain these across RMS service lifecycle then, they should configure them as static PV's else continue with default dynamic PV's.

[2021-06-02 10:09] jgirase commented on #201
@vpatil-tibco We tried following use case with existing scripts where store and logs volumes are persisted for RMS deployment.
We found inconsistent behaviour with respect to project artifacts as "shared" and "webstudio" volumes are not persisted with current setup post uninstall of helm release.
Tested RMS with SN persistence in case of dynamic PV's. There are some inconsistencies in UI and actua

[2021-06-03 08:47] jgirase opened #205 "Persistent Volume with store is created for application though persistence option is configured as none"
Application is configured with properties like cpType: aws ,omType: cache,bsType: none
RMS is also configured with persistence option as none.
When templates are generated along with RMS volumes , application pv with store gets created which is wrong.
It should be created only when bsType is sharednothing.
Refer following templates and attached log file.

Note: Only pv is created ,pvc is not creat

[2021-06-04 03:23] vpatil-tibco commented on #201
Yes, we will have to do. Will need to persist, shared, WebStudio as well as security. Notifications need not be.
@LakshmiMekala Let's discuss this tomorrow if you have questions.

[2021-06-04 08:46] LakshmiMekala commented on #201
I have included required code changes to this issue,

For pvProvisioningType: dynamic, rms pvc's will be provisioned dynamically(similar to sharednothing for BE APP),rms now persists data for shared, webstudio, security and notify.

For pvProvisioningType: static(currently support only for aws), rms pvc's and pv's will be created from `helm install` and gets deleted after `helm delete`

Fix is ava

[2021-06-04 09:19] priyanka-nawal opened #206 "RMS engine unable to connect to Cassandra DB. Getting java.lang.NoClassDefFoundError: com/google/common/collect/ImmutableMap"
**Steps to reproduce:**
1. Configure RMS with Ignite_Ignite_Cassandra/FTL_Ignite_Cassandra
2. Deploy Cassandra
3. Update values.yaml file as per CDD configuration
4. Install helm release
5. RMS pod shows below exception while connecting to Cassandra
`2021 Jun 04 05:30:58.280 GMT Z ignite-cassandra-rms-0 INFO [main] - [ignite] Starting Ignite node as 'Server'
2021 Jun 04 05:31:00.289 GMT Z ignite-c

[2021-06-04 10:06] nareshkumarthota commented on #206
@priyanka-nawal  Can you try once more by pulling latest code from `feature-rms-helm` branch.

[2021-06-04 11:50] AdittyThakare opened #207 "Helm release deployment fails when RMS env section has integer type GV's"
Helm installation fails when RMS section has integer global variables in values.yaml file. Tested with RMS+ Mysql DB and GV's are specified as follows:
`    Webstudio_gv_DB_gv_driverName: com.mysql.jdbc.Driver
     Webstudio_gv_DB_gv_url: jdbc:mysql://mysql-0.mysql.default.svc.cluster.local:3306/BE_DATABASE
     Webstudio_gv_DB_gv_maxConnections: 5
     Webstudio_gv_DB_gv_userName: BE_USER
     We

[2021-06-04 14:35] priyanka-nawal commented on #206
Yes working fine with latest code. Verified with Ignite_Ignite_Cassandra. Attached logs for reference
[Working.zip](https://github.com/TIBCOSoftware/be-tools/files/6599219/Working.zip)

[2021-06-04 14:35] #206 closed

[2021-06-06 19:29] tsaxena18 opened #208 "Require cpu/memory resource to be defined for RMS under helm."
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |       6.1.1         |
| OS Type?       |     Linux      |
| OS Version?    |      NA          |
| Docker         |      20.10.6          |
| Kubernetes     |     1.21.1           |
| Helm           |   3.5.4            |

### What is the expected behavior?
The cpu/memory resource shou

[2021-06-07 03:55] LakshmiMekala commented on #207
fixed issue, changes available in PR #194

[2021-06-07 05:08] LakshmiMekala commented on #208
Fixed issue, changes available in #194

[2021-06-07 07:04] jgirase commented on #205
Verified with branch feature-rms-helm. Its working as expected

[2021-06-07 07:04] #205 closed

[2021-06-07 08:16] nareshkumarthota commented on #181
@vpatil-tibco  Docs updated in wiki. Kindly review and close this issue.

[2021-06-07 09:22] AdittyThakare commented on #208
With the latest code, RMS engine is exiting abruptly. Tried with FTL+Ignite+Cassandra configurations and values 1/2 CPU and 1/2GB Memory in RMS environment section.
[ftlcassandra1-rms-0.log](https://github.com/TIBCOSoftware/be-tools/files/6607579/ftlcassandra1-rms-0.log)
[ftlcassandra1-rms-0-ignite.log](https://github.com/TIBCOSoftware/be-tools/files/6607582/ftlcassandra1-rms-0-ignite.log)

[2021-06-07 09:23] LakshmiMekala commented on #208
Added fix for min and max cpu limits in rms section. Fixed with PR #194

[2021-06-07 10:50] tsaxena18 commented on #208
Verified.
The resource has been defined in RMS section as shown below :

rms:
  enabled: false                        # set to true for rms
  image: rms:6.1.1                      # rms image name
  name: rms                             # rms deployment name
  replicas: 1
  persistenceType: na        # If Persistence option is sharednothing then set to `sharednothing` , otherwise set to `na`

  **

[2021-06-07 10:50] #208 closed

[2021-06-08 07:30] jgirase commented on #197
@vpatil-tibco We tried with more than one replica for RMS deployment, following are the observations which needs attention,

1.When Replica=2, there are 2 pods are running for RMS and one service which is expected. However when we login to webstudio, user gets logged out automatically with error as "Invalid API Key [workspace]" in one of rms pod logs.
We tried login again and could see weird issue

[2021-06-08 10:06] rameshpolishetti commented on #197
Yes, @jgirase making RMS deployment work with multiple instances would require additional services for discovery mechanism as per the cluster provider AS2/Ignite/FTL like how it's done for BE application deployment.

Based on the earlier notes from @vpatil-tibco, my understanding is that a single RMS instance is sufficient for current needs. For now, we can go with RMS single instance (i.e no opti

[2021-06-08 17:32] vpatil-tibco commented on #197
Even before that, there is some issue with the current deployment topology, so we are changing RMS deployment to leverage existing be charts.
Hopefully that should cover the replica bit as well.

[2021-06-09 10:42] jgirase commented on #201
With the latest scripts available in branch feature-rms-helm , RMS configured with SN is working fine post helm uninstall as well.
Find attached logs for reference.
[RMS_SN_EKS_dynamic_provisioning_logs.zip](https://github.com/TIBCOSoftware/be-tools/files/6623101/RMS_SN_EKS_dynamic_provisioning_logs.zip)

[2021-06-09 10:42] #201 closed

[2021-06-09 16:06] AdittyThakare commented on #207
Agree fixed.  Helm deployment works fine for integer GV values. Verified with ' Webstudio_gv_DB_gv_timeout: 30 ' property under RMS environment.

[2021-06-09 16:06] #207 closed

[2021-06-10 03:20] rafisolutions opened #210 "Cannot change Version name for mount in berms.yaml file"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |     6.1           |
| OS Type?       |         Ubuntu       |
| OS Version?    |                |
| Docker         |                |
| Kubernetes     |                |
| Helm           |                |

### What is the expected behavior?
Trying to change the version in the moiunt

[2021-06-16 06:29] rameshpolishetti commented on #210
@rafisolutions I assume you are trying to deploy a **BE** app using the **helm** chart available in the branch [feature-rms-helm](https://github.com/TIBCOSoftware/be-tools/tree/feature-rms-helm).

Please make sure that **values.yaml (rms. beVersion: 6.1)** is updated correctly with the desired **BE** version.

[2021-06-16 13:48] rameshpolishetti commented on #181
Closing the issue as wiki documentation has been updated.

[2021-06-16 13:48] #181 closed

[2021-06-18 13:04] rafisolutions commented on #210
Hi Ramesh

We are not using helm chart. We are using individual yaml files only.

Rafi

On Wed, Jun 16, 2021 at 2:30 AM Ramesh Polishetti ***@***.***>
wrote:

[2021-06-18 17:10] rameshpolishetti commented on #210
Hi @rafisolutions
The security folder is empty which means - The file system which got mounted to the RMS pod is empty.
You need to copy/pre-fill required RMS artifacts (security & WebStudio contents) into the filesystem and then launch the RMS pod again.

[2021-06-27 17:54] rameshpolishetti opened #212 "Add support to load GVs from ConfigMap and Secrets"
**Context**
In the current BE Helm chart, there is no support to supply extra environment variables / BE Global Variables using Kubernetes ConfigMaps OR Secrets. Adding this support enables the user to inject application-specific configurations easily.

**Alternatives**
Need to use GV framework.

**Has the feature been requested before?**
NO

**If the feature request is approved, would you be will

[2021-06-28 10:29] rameshpolishetti commented on #212
This feature is available at: https://github.com/TIBCOSoftware/be-tools/tree/feature-helm-deploy-rms

[2021-06-28 10:38] rameshpolishetti commented on #204
This is made available in PR #213 since previous PR got dropped.

[2021-06-28 10:40] rameshpolishetti commented on #197
This feature is available in the PR #213

[2021-06-28 10:41] rameshpolishetti commented on #195
This is made available in PR #213 since the previous PR got dropped.

[2021-06-28 10:48] rameshpolishetti commented on #192
@AdittyThakare This is made available in PR #213 since the previous PR got dropped.

Also, note that RMS deployments got merged into the same be-helm chart since RMS is also a BE app. But it is not the case for TEA. Hence TEA will continue to have separate configurations.

[2021-06-30 08:43] priyanka-nawal opened #214 "Incorrect value for rmsDeployment getting printed on console while installing helm release"
Set rmsDeployment: true in the yaml file and install the release. Below information gets printed on console. In the output, it says 'This is RMS deployment' and value is 'no'. Ideally it should be yes when rmsDeployment: true.

`C:\be-tools1\be-tools-feature-helm-deploy-rms\cloud\kubernetes>helm install ignite-mysql-v6 ./helm -f ./helm/values_ignite_ignite_mysql_v2.yaml
NAME: ignite-mysql-v6
LAST

[2021-06-30 17:52] rameshpolishetti commented on #214
@priyanka-nawal it is fixed. Please take latest changes from the branch/feature-helm-deploy-rms

[2021-07-01 17:20] vsirimalla commented on #193
hi @rameshpolishetti
Sorry for the delay in response.

we had to park this because of few other commitments. Now we are back looking at this BE Docker image.

so, we could not use buildAh, since its not approved in our Org.
Instead, this is what I did
1) Split Docker image build into two parts
   first part is  just to build a BE Software image with Custom GV lookup framework. (using software inst

[2021-07-02 13:50] jgirase commented on #197
@rameshpolishetti @vpatil-tibco @vilasshelar

We have tried couple of use cases of RMS with more than one replicas with different cluster configurations as Ignite + Ignite + SN, Ignite + Ignite + Mysql. However we could observe few inconsistent issues as mentioned below,

1.For the first time deployment , rms pods gets restarted but somehow they gets started after some time

2.For Ignite + Ignite

[2021-07-02 17:11] vpatil-tibco commented on #197
@jgirase - Can you share a run with debug logs.

[2021-07-05 05:47] rameshpolishetti commented on #193
Hi @vsirimalla folder permissions "???????" is not expected, this may cause undesired runtime behavior.
I suspect that original file permission information is getting lost while copying from _container1 -> local file system -> final container image_. You can update file permission to desired level (same as Docker image - part one) using `chmod` after copying files from location system -> final con

[2021-07-05 13:11] jgirase commented on #197
Hi Vikram,

We tried tests with RMS again with Ignite + Ignite + SN configuration to reproduce NPE. However , I was stuck with inconsistent data issue across two rms pods for which we have collected debug logs. Find the attached logs for reference. We are still working on NPE issue and will update you with debug logs.

Note: Before deploying RMS/CCA everything was deleted pv/pvc  and data from efs

[2021-07-05 13:39] shivgangat opened #215 "BE teagent is not getting registered on the TEA server"
**@vpatil-tibco @rameshpolishetti @dijadhav**

### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |     6.1.1           |
| OS Type?       |     Ubuntu           |
| OS Version?    |     20.04.2           |
| Docker         |          20.10.7       |
| Kubernetes     |    1.19.0            |

### What is the expected behavior?
BE teagen

[2021-07-06 03:40] vpatil-tibco commented on #197
I don't see the null pointer issue you mentioned above in the these debug logs. Also what are the data inconsistencies you are seeing, can you give the usecase comparision.
Also are these usecases validate on on-prem before? Multi RMS instances running? And have they been working as expected there?

[2021-07-06 09:25] priyanka-nawal commented on #197
Tried running RMS with Ignite+Ignite+Cassandra mode, replica count:2 and was able to reproduce NPE issue.
Steps performed are as follows:

1. Configure values.yaml to use Ignite as cluster provider, and cassandra as store provider
2. Set Replica:2, provisioning type: static
3. Persistence for rms-webstudio is set to true
4. Install helm release. Once both the pods are started successfully, copy we

[2021-07-06 11:49] AdittyThakare commented on #197
Deployed FTL+Ignite+None with RMS Replica=2 using helm chart and faced issues while hot deploying the created artifacts.

**Steps performed:**
1. Install helm release for RMS and CCA application with dynamic provisioning with following configuration:
Cluster: FTL
Cache: Ignite
Persistence: None
Provisioning: Dynamic
Replica Count: RMS->2, CCA Cache->1 CCA Inference->1
rmsWebstudio: true
2. Copy We

[2021-07-06 12:49] priyanka-nawal commented on #214
Now proper flag value is getting printed on console. Attached output of rms and cca release installation.

[Issue_214.txt](https://github.com/TIBCOSoftware/be-tools/files/6770128/Issue_214.txt)
[Issue_214_CCA.txt](https://github.com/TIBCOSoftware/be-tools/files/6770129/Issue_214_CCA.txt)

[2021-07-06 12:49] #214 closed

[2021-07-06 13:13] jgirase commented on #197
Hi Vikram,

Debug logs for NPE issue are attached by Priyanka please refer the same.

Related to data synchronisation issue across rms pods , you can look up Aditty's comments. Its same issue observed with Ignite/FTL/AS2 cluster providers. When newly created RTI is committed and approved, its present in only one pod's webstudio folder.Its not even not available in rms-webstudio pv so this causes s

[2021-07-06 17:16] vpatil-tibco commented on #137
Closing the issue. Since all the above can be done event today.

[2021-07-06 17:16] #137 closed

[2021-07-06 17:17] vpatil-tibco commented on #153
Closing for lack of more details.

[2021-07-06 17:17] #153 closed

[2021-07-06 17:56] #163 closed

[2021-07-06 18:05] vpatil-tibco commented on #164
The infrastructure is now available to include multiple resources to maintain GV's across a project. As far as the specific implementation goes, there are some available OOB, for others, end users are free to implement it looking at other implementations or wait till its available OOB.

[2021-07-06 18:05] #164 closed

[2021-07-06 22:47] vpatil-tibco commented on #197
So seems like there are some synchronization issues around PV that are mounted across both pod's. Not all changes are available across both.
Also this could be the same reason for the null pointer. The below log indicates that,

2021 Jul 06 06:43:05.640 GMT Z ignitecassdebug-rmsinf-1 DEBUG [main] - [RuleFunctions.Startup.WS_RF_ValidateACLConfig] [WS-Inference-class] Number of managed projects for

[2021-07-07 07:46] priyanka-nawal opened #216 "Hot deployment fails sometimes for single RMS instance with "UndeclaredThrowableException" in UI"
**Below configurations used to reproduce the issue:**
Provisioning type: dynamic
rmsWebstudio: false
RMS: FTL_Ignite_Cassandra
CCA: AS2_AS2_None
RMS Replica: 1

**Steps:**
1. Clean up EFS, PV and PVC
2. Configure RMS yaml to use FTL_Ignite_Cassandra, Replica:1 and Dynamic provisioning. Install RMS release
3. Now modify rmsSharedPVC value in CCA yaml and install CCA release
4. Login to WebStudio, m

[2021-07-07 13:26] tsaxena18 opened #217 "Helm : EKS Fargate - MySql pod is not starting and stuck at pending state when persistence is enabled."
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |       6.1.1         |
| OS Type?       |        Linux        |
| OS Version?    |     CentOS Linux release 7.9           |
| Docker         |     20.10.7           |
| Kubernetes     |   1.21.1             |
| Helm           |   3.5.4             |

### What is the expected behavior?

[2021-07-08 02:37] vpatil-tibco commented on #216
This also seems to be similar to the PV mount sync issues observed in #197

[2021-07-08 03:37] rameshpolishetti commented on #197
RMS folder synchronization issues are observed when mount path contains symbolic links. For instance RMS shared mount path "/opt/tibco/be/latest/rms/shared" contains "latest" which is a symlink.

Its been fixed by using real folder path (without symlink) for mounting RMS folders (ex: /opt/tibco/be/6.1/rms/shared). This requires capturing the BE short version via values.yaml

@jgirase please take l

[2021-07-08 03:39] rameshpolishetti commented on #216
This is happening due to RMS folder synchronization issue, which is fixed.
@priyanka-nawal  please take latest changes to validate this.

[2021-07-08 03:47] rameshpolishetti commented on #210
Hi @rafisolutions Not heard from you since my previous comment. Please let me know if you are looking for any further information in this regard.

[2021-07-08 06:09] rameshpolishetti commented on #217
@tsaxena18 I see that mysql pod is pending in status because corresponding PV/PVCs are not available.

AWS Fargate only supports static provisioning that means PV, PVC need to be created manually (Ref: https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html under consideration point 1)

Pre create required PV/PVCs manually should fix the issue.

[2021-07-08 06:10] rameshpolishetti commented on #217
Note: Since mysql is a sub chart, BE chart does not create any PV/PVCs for for mysql.

[2021-07-08 06:43] tsaxena18 commented on #217
Closing as per the comments.

[2021-07-08 06:43] #217 closed

[2021-07-08 12:06] jgirase commented on #197
Pulled the latest changes from same branch feature-helm-deploy-rms.
I could still see the NPE on one of the RMS pods in case of replica=2 and cluster providers AS2 as well as Ignite. Persistence option is configured as shared nothing in both cases.
I could not proceed with remaining webstudio operations as 'null' error comes continuously on UI and project list disappears intermittently.

Find the

[2021-07-09 03:28] vpatil-tibco commented on #197
Here the issue is the PV mount is taking some time to initialize as a result, when the RMS engine is coming up, the ACL initialization does not happen due to missing contents in the folder.

2021 Jul 06 06:43:05.640 GMT Z ignitecassdebug-rmsinf-1 DEBUG [main] - [RuleFunctions.Startup.WS_RF_ValidateACLConfig] [WS-Inference-class] Number of managed projects for url[/opt/tibco/be/6.1/examples/standar

[2021-07-09 12:56] shivgangat commented on #215
@vpatil-tibco @rameshpolishetti @nareshkumarthota @dijadhav

Tried with the latest changes and I could still see the issue.
Logs printing
[beteagent.txt](https://github.com/TIBCOSoftware/be-tools/files/6791395/beteagent.txt)
  _Unable to register agent with name 'BE'_

PFA beteagent log.

[2021-07-09 13:28] jgirase commented on #195
we have verified hpa for cpu metrics so far using autoscaling example located in minikube folder.We could see inference agent pods scaled up/down as per configuration in values.yaml.

However we are still working on memory metrics and its in progress.
Find logs attached for cpu metrics test for reference.
[HPA_CPU_INF_logs.zip](https://github.com/TIBCOSoftware/be-tools/files/6791663/HPA_CPU_INF_lo

[2021-07-09 13:35] jgirase commented on #197
Kindly refer below steps for further debugging NPE,
1.Install helm release for RMS and CCA application with dynamic provisioning with following configuration:
Cluster: AS2
Cache: AS2
Persistence: SharedNothing
Provisioning: Dynamic
Replica Count: RMS->2, CCA Cache->1 CCA Inference->1
rmsWebstudio: true
2.Wait till both rms pods are started successfully
3.Copy WebStudio folder to any one RMS pod fr

[2021-07-09 13:40] priyanka-nawal commented on #212
Verified GV using config map by creating configMap for MySQL credentials like URL,DriverName, Username and password.
Also verified loading GVs from secret by creating secret for Cassandra username and password
Attaching logs for reference.
[logs.zip](https://github.com/TIBCOSoftware/be-tools/files/6791735/logs.zip)

[2021-07-09 14:03] priyanka-nawal commented on #216
Verified couple of flows with different Cluster providers with single rms replica and did not encounter the above mentioned issue.
1. Ignite_Ignite_Mysql
2. AS2_AS2_Mysql
3. FTL_Ignite_Cassandra
4. Ignite_Ignite_Cassandra

Attaching logs for reference
[SingleReplica-logs.zip](https://github.com/TIBCOSoftware/be-tools/files/6791892/SingleReplica-logs.zip)

[2021-07-09 14:03] #216 closed

[2021-07-09 19:23] vpatil-tibco commented on #210
@rafisolutions - If you follow the documentation, it outlines the step of copying the necessary folder contents into the mounted PV's.
(Step 9) - https://github.com/TIBCOSoftware/be-tools/wiki/Running-on-RMS

I think that is what is missing at your end.

[2021-07-09 19:41] tsaxena18 commented on #204
Tried with setting it to true. As per definition of podAntiAffinity, no two pods can be on same node as per defined rule. Here it does not seem to be working for me as per my understanding. I will continue to debug more into it.
[apps@tsaxena-z820 kubernetes]$ kubectl get pods -o wide
NAME                     READY   STATUS    RESTARTS   AGE     IP               NODE

[2021-07-10 05:34] rameshpolishetti commented on #212
Thank you @priyanka-nawal. Closing the issue as it is successfully verified.

[2021-07-10 05:34] #212 closed

[2021-07-11 15:43] rameshpolishetti opened #218 "OpenJDK support for BE application container image"
**Context**
Currently there is no option to use [open-jdk](https://jdk.java.net/) in the place of TIBCO JDK (which comes along with `TIBCO BusinessEvents` installation) while creating BE container image.

**Alternatives**
No

**Has the feature been requested before?**
NA

**If the feature request is approved, would you be willing to submit a PR?**
Yes

[2021-07-12 05:06] LakshmiMekala commented on #204
@tsaxena18 this feature defines pods are evenly distributed across nodes. The above mentioned output of nodes is correct

[2021-07-12 05:14] LakshmiMekala commented on #190
@tsaxena18 this is related to [docker](https://www.docker.com/increase-rate-limits) and not related to be-tools. Hence resolving the issue.

[2021-07-12 08:40] tsaxena18 commented on #204
There are two types of node affinity, called requiredDuringSchedulingIgnoredDuringExecution and preferredDuringSchedulingIgnoredDuringExecution and they are like hard/soft rule as mentioned in https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/.

Currently, I can see the latter, preferredDuringSchedulingIgnoredDuringExecution, is defined in our helm script and if I change it t

[2021-07-12 08:46] LakshmiMekala commented on #204
@tsaxena18 we are aware of this features wrt podAntiAffinity, we have requirement to distribute pods across nodes evenly. U can good to close this issue. I dont think it is required to create a new support ticket for other type

[2021-07-12 11:27] shivgangat commented on #215
Verified the issue with the latest changes and now be-teagent auto registration is happening successfully.
Attaching a screenshot for reference.
![BETEA_AWSEKS_working](https://user-images.githubusercontent.com/47853521/125279992-31e6a080-e332-11eb-83fc-3127be0a3eba.png)

[2021-07-12 11:27] #215 closed

[2021-07-12 11:41] jgirase commented on #195
Tried memory metrics for both cache and inference agents using same autoscaling example. We observed cache and inference pods gets scaled up when data in inserted using readme.html by following mentioned steps in same readme.
However, even after deleting data both pods does not gets scaled down and stays in similar state.
Waited for some time to notice the difference of memory requirement of pods

[2021-07-13 06:13] tsaxena18 commented on #190
Closing as per the comments.

[2021-07-13 06:13] #190 closed

[2021-07-13 06:19] LakshmiMekala commented on #204
Closing as per @tsaxena18 comments

[2021-07-13 06:19] #204 closed

[2021-07-13 10:58] LakshmiMekala commented on #195
@jgirase HPA calculates average of the memory/cpu metrics for specific interval of time. Based on the above mentioned output, pods are utlizing higher memory, so pods are not scaling down. Can you try with a different example which will simulate memory load on cache agent and share the results

[2021-07-13 11:36] jgirase commented on #195
@LakshmiMekala this example adds data to cache agents which in turn results in memory grow from around 540Mi to 1.1Gi.
It also scales up pods once it reached to 80% as mentioned in values.yaml. Then there are events to delete data from cache upon which memory should be declined but that is not happening in this case.
For more detailed steps please refer readme.html located under minikube/autoscali

[2021-07-13 11:40] LakshmiMekala commented on #195
@jgirase  Agreed, but why the cache agents are utlizing around 950MB of data for each pod?

[2021-07-13 11:53] jgirase commented on #195
For more details on how memory is utilised by BE application (cache agent or inference agent) , kindly sync up with our Developers.

[2021-07-13 13:55] rameshpolishetti commented on #173
All listed asks are feasible using Kubernetes OOB capabilities and currently made available using `helm` chart.

**Details**:
- Point 1: Made available using helm chart using K8S Horizontal Pod Auto scale feature. It can be enabled/disabled through values.yaml
- Point 2: Made available using helm chart using K8S Affinity/Anti Affinity feature. It can be enabled/disabled through values.yaml
- Point

[2021-07-14 05:57] AdittyThakare commented on #192
RMS deployment has got merged with BE helm chart now.

On AWS EKS for single RMS replica have tested with following configurations:
- Ignite_Ignite_None
- Ignite_Ignite_SN
- Ignite_Ignite_Cassandra
- Ignite_Ignite_RDBMS(Mysql)
- AS2_AS2_None
- AS2_AS2_SN
- AS2_AS2_RDBMS(Mysql)
- FTL_Ignite_None
- FTL_Ignite_Cassandra
- FTL_Ignite_SN
- FTL_Ignite_Mysql
- FTL_Ignite_AS4
- Ignite_Ignite_AS4
- FTL_AS4

[2021-07-14 05:57] #192 closed

[2021-07-14 09:37] LakshmiMekala commented on #197
@vilasshelar @jgirase @AdittyThakare @priyanka-nawal  I have went trhrough all the attached logs and i could see rms security folder is not mounted, could verify running the same test for all scenarios with rmsSecurity:true and rmsWebstudio: true. By default security folder should be mounted across multiple replicas.

[2021-07-15 12:47] AdittyThakare commented on #197
@vpatil-tibco @LakshmiMekala With latest code tried RMS with multiple replica for following 3 configurations:
a) AS2+AS2+None
b) FTL+Ignite+Mysql
c) AS2+AS2+SN

**Steps are as follows:**
1. Deploy RMS and CCA release using following config:
     Provisioning: Dynamic
     Replica Count: RMS-2, CCA Cache-2, CCA Inference-1
     rmsWebstudio: true
     rmsSecurity: true
2. After both the pods start

[2021-07-16 11:21] LakshmiMekala commented on #197
@AdittyThakare  To get rid of npe issue, Once you deploy RMS with multiple replicas and rms pods gets into running state, copy artifacts of webstudio and security folders and then restart the rms pods and try to login and perform actions

[2021-07-16 14:01] rameshpolishetti opened #220 "TEA Agent for BE not working in AWS ECS environment"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents | 6.1.1               |
| OS Type?       | Ubuntu               |
| OS Version?    | 20.04               |
| Docker         |  20.10              |
| Environment     | AWS ECS   |

### What is the expected behavior?
When running TEA Agent for BE on AWS ECS environment, it should get reg

[2021-07-16 15:15] rameshpolishetti commented on #165
Currently user can place certificates into the application folder along with CDD/EAR so that they get copied into the BE container image. I feel, this enhancement request adds little automation to "_pulling certificates from AWS Certificate Manager during BE container image build time_" and covers only this specific case.

To cover more use cases - Make requirement of certificates during build tim

[2021-07-16 17:28] vpatil-tibco commented on #210
The above step seems to have solved the issue. Closing this issue. If you continue facing the same issue, please reopen or log a separate issue.

[2021-07-16 17:28] #210 closed

[2021-07-16 17:30] vpatil-tibco commented on #193
Details provided. Hopefully that has solved the issue. If you continue to face the issue, please reopen and provide necessary details, else log a separate issue.

[2021-07-16 17:30] #193 closed

[2021-07-16 17:34] vpatil-tibco commented on #165
Yes that is what we discussed. static/build time makes little sense for this usecase, runtime is more relevant for this. And with kubernetes as our choice of orchestrator, Kubernetes secrets offers the perfect oob solution.

[2021-07-19 17:23] vpatil-tibco commented on #195
@jgirase - Is this behavior k8 specific or are you seeing this for a simple on-prem(minus docker/k8) usecase? Also does it apply only to AS or to ignite as well?

[2021-07-20 06:52] rameshpolishetti opened #222 "Use GitHub Actions to automate helm template tests on new PR"
**Context**
Automate running helm template tests on a new pull request on to `master` branch using `GitHub Actions`

**Alternatives**
NA

**Has the feature been requested before?**
NA

**If the feature request is approved, would you be willing to submit a PR?**
Yes

[2021-07-20 10:46] LakshmiMekala commented on #222
Implemented Github actions CI workflow with PR #221

[2021-07-20 12:11] jgirase commented on #195
The behaviour related to cache agent memory does not get released even after deleting data is reproducible on-prem as well specifically on my ubuntu machine. So far the test is run with AS2 only. For ignite we need to repeat the test if required.

[2021-07-20 16:13] vpatil-tibco commented on #195
@jgirase - Ok, so this is not related to kubernetes. Create a separate issue in JIRA and assign it to one of the dev team members.

If all things are good from functional perspective around auto scaling, we can close this issue.

[2021-07-21 04:15] AdittyThakare commented on #197
Again executed following flows with RMS replica=2 and NPE was not encountered now:
a. AS2+AS2+SN -> Dynamic provisioning
b. FTL+Ignite+Mysql -> Static provisioning
c. Ignite+Ignite+None -> Dynamic provisioning

Steps followed for Static and Dynamic provisioning were as follows:
**Dynamic Provisioning**
1. Install RMS and CCA release
2. Copy WebStudio and Security to any 1 RMS pod
3. Delete RMS pod

[2021-07-21 08:40] staffwaremueller opened #224 "SSL Authentication on AWS EKS not work in environment"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |  6.1.0         |
| OS Type?       |     Linux        |
| OS Version?    |    Ubuntu (docker)            |
| Docker         |      AWS EKS   |
| Kubernetes     |   AWS EKS   |
| Helm           |                |

### What is the expected behavior?
Secure connection not work properly
ht

[2021-07-21 12:02] LakshmiMekala opened #225 "Unused artifacts are getting copied while building RMS image from local installation"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |    6.1            |
| OS Type?       |      Linux          |
| OS Version?    |       20.04         |
| Docker         |            20.10.2    |
| Kubernetes     |                |
| Helm           |                |

### What is the expected behavior?
For default rms.cdd , as2 artifa

[2021-07-21 14:23] rameshpolishetti commented on #224
@staffwaremueller I have generated BE application container image as mentioned in the ticket and verified on AWS EKS environment, but not able to reproduce the issue.

Attaching `Helm` values.yaml and dry-run output for reference.
[values.yaml.zip](https://github.com/TIBCOSoftware/be-tools/files/6856488/values.yaml.zip)
[rms.yaml.zip](https://github.com/TIBCOSoftware/be-tools/files/6856491/rms.yam

[2021-07-22 05:05] LakshmiMekala commented on #224
@staffwaremueller Can you check if required ports(https port) were added to EKS security groups or not.

How did you deploy RMS into EKS cluster?

[2021-07-22 07:37] staffwaremueller commented on #224
Ports added and login works but connection lost after 30secs - looks like a AWS (EKS) configuration issue.
We just want to confirm that's tested/validated. You can close the ticket.
Thanks

[2021-07-22 07:54] nareshkumarthota commented on #225
Kindly check the documentation (here)[https://github.com/TIBCOSoftware/be-tools/wiki/Before-You-Begin].
It is intended behaviour only. From local installation scripts will look for defined values in tra file. Based on the key values image will get built.

[2021-07-22 08:17] rameshpolishetti commented on #225
@LakshmiMekala User can always update `tra` file to control what artefacts to be copied into the BE container image.

[2021-07-22 09:57] tsaxena18 commented on #195
@vpatil-tibco I can observe the same behavior on other cloud platform and when I tried locally(on-premise without k8) then found a difference in behavior on Win and Linux. The memory usage goes down in Win but not in Linux (Ubuntu & CentOS).
I have created a JIRA and attached my findings.

[2021-07-22 10:24] LakshmiMekala commented on #224
Closing as per above comments

[2021-07-22 10:24] #224 closed

[2021-07-22 10:24] LakshmiMekala commented on #225
Closing ticket as per comments

[2021-07-22 10:24] #225 closed

[2021-07-22 10:25] LakshmiMekala commented on #195
Closing as per above comments

[2021-07-22 10:25] #195 closed

[2021-07-22 10:40] rameshpolishetti commented on #197
@AdittyThakare thank you for validating and sharing the summary. So the fix - "pre-populating rms-webstudio and mounting rms-security folder" is working fine.

As per the summary, Removed the `persistence.rmsSecurity` from values.yaml via PR #226 since single flag is enough to control whether to mount rms-webstudio & rms-security folders or not. (Note: Re-validation is not required)

@jgirase @Adi

[2021-07-23 06:57] jgirase commented on #197
Closing it as we are done with mentioned use cases.

[2021-07-23 06:57] #197 closed

[2021-07-23 10:37] LakshmiMekala commented on #165
Design approach:

- Support to Load an existing secret(created using file(s))
- Create a new secret from file(s)
Required volumes and volumemounts to be included in agent templates

[2021-07-27 05:50] nareshkumarthota commented on #218
This feature is available in branch `feature-openjdk`.

[2021-08-02 06:42] ykalidin commented on #187
This feature is available in `chore-update-awsgv` branch

[2021-08-03 07:38] rameshpolishetti commented on #218
This can be validated on master branch.

[2021-08-03 07:44] rameshpolishetti commented on #187
This can be validated on master branch.

[2021-08-04 09:33] LakshmiMekala commented on #165
Implemented "Support to Load an existing secret(created using file(s))" and Required volumes and volumemounts to be included in agent templates

[2021-08-04 15:19] vpatil-tibco opened #229 "Optimize Image creation to dynamically exclude artifacts"
**Context**
Currently our image creations is 'one size fits all' paradigm. That causes a large image size even for basic cases configurations i.e. InMemory.

Idea here is to optimize our image creation. Few area's on how we can do is,
1. Optimize based on cdd - OOB based on the cdd values for OM, Store, Metrics, etc.
2. Exclude some obvious libs which will not come into place at runtime like cep-d

[2021-08-05 08:52] rameshpolishetti commented on #165
@vilasshelar This can be validated on master branch.

[2021-08-13 09:08] tsaxena18 commented on #165
I have validated the enhancement on Minikube environment, with single and multiple secrets of type Opaque, having single/multiple certificates. I can see the certificates at the respective location, /opt/tibco/certs/<secretName>.Working fine.

[2021-08-13 10:12] rameshpolishetti commented on #165
thank you @tsaxena18

[2021-08-13 10:12] #165 closed

[2021-08-18 06:24] #222 closed

[2021-08-25 04:59] athombare opened #233 "Unable to run bundled BE application SimpleProcess using Container Image."
If user builds a container image using process add-on (AS2 + Enterprise + Process) and Simple Process example artifacts (SimpleProcess.cdd & SimpleProcess.ear). And tries to run Simple Process example, following issues are observed on container engine start.

`Caused by: org.eclipse.emf.ecore.xmi.PackageNotFoundException: Package with uri 'http:///com/tibco/cep/bpmn/core/model/semantic/process/cep

[2021-08-25 07:06] AdittyThakare opened #234 "Provide compatibility for Legacy AS/ActiveSpaces/FTL versions with BE 6.2.0 while building docker images"
Currently while building docker image with AS 2.4.1 and BE 6.2.0 getting following error:

`C:\Users\athakare\Downloads\be-tools-master\cloud\docker>build_image.bat -i app -a C:\Docker\customerorder_target -s C:\Docker\Inst_6.2 -t test

Missing operand.
Missing operand.
ERROR: BE version: [6.2.0] not compatible with Activespaces version: [4.6.1].`

Kindly provide compatibility for applicable softw

[2021-08-25 08:08] nareshkumarthota commented on #234
This will be addressed with PR #235

[2021-08-25 08:25] #234 closed

[2021-08-25 11:04] LakshmiMekala commented on #233
@athombare We identified a temporary fix for this error. Can you make below mentioned code changes in your scripts.

When building docker image from installers- https://github.com/TIBCOSoftware/be-tools/blob/master/cloud/docker/lib/prepare_finalimage.sh comment line no: 49&56

When building docker image from localinstallation - https://github.com/TIBCOSoftware/be-tools/blob/master/cloud/docker/bui

[2021-08-25 16:04] vpatil-tibco opened #236 "Add support for OpenTelemetry exporter charts"
**Context**
BE 6.2 will support OpenTelemetry with options to export to a few exporters like otlp, zipkin and jaeger. The idea is to enhance our helm support to allow users to include these charts if their project uses open telemetry

**Alternatives**
Manually set these up and update BE configurations to to leverage these.

**Has the feature been requested before?**
Not yet.

**If the feature requ

[2021-08-25 17:50] vpatil-tibco opened #237 "Support for BE 6.2 items"
**Context**
BE 6.2 will be supporting following features that need to be made available via helm,

1. Async API spec - /asyncapi
2. Ping/heartbeat - /ping

All are on the same port, which is configurable. Also a property to enable this server altogether. So we will need 2 inputs in values.yaml.
Enable - (Default value - false) - maps to BE property - be.engine.api.spec.enable
Port - (Default value

[2021-08-26 06:39] rameshpolishetti opened #238 "Update Apache ignite-kubernetes jars class path as it is made optional in BE version 6.2.0"
**Context**
In BE version 6.2.0 Apache Ignite jars folder structure got reorganised and moved some jars to optional folders which are need not to be in the class path for normal cases. As part of this `ignite-kubernetes jar` got moved to `lib/ext/tpcl/apache/ignite/optional/ignite-kubernetes/` which is required to be in the class path for Kubernetes deployment.

Make use of `tra.tibco.env.CUSTOM_E

[2021-08-26 09:34] rameshpolishetti opened #239 "Add provision to deploy BE app into user specified namespace using BE helm chart"
**Context**
Currently, by using BE helm chart, user can deploy BE app into the `default` namespace only. There is no provision to specify desired namespace.

Add option to accept namespace through BE helm chart values.yaml

**Alternatives**
Need to update BE helm chart template files in several places.

**Has the feature been requested before?**
Yes, asked by PSG /customers

**If the feature reque

[2021-08-31 05:23] athombare commented on #233
@LakshmiMekala I tried both the workarounds. They seem to be working for the issue..
[Workaround.zip](https://github.com/TIBCOSoftware/be-tools/files/7081433/Workaround.zip)

[2021-09-04 11:28] athombare commented on #218
Verified the newly introduced support of openJDK in place of TIBCO JRE with BE container image.

openJDK version used for testing - openjdk-11+28 (Oracle Open JDK)

`2021 Aug 16 21:48:46.706 GMT +05:30 be-engine INFO [main] - [user] [inference-class] ************* Java version: 11+28
2021 Aug 16 21:48:46.706 GMT +05:30 be-engine INFO [main] - [user] [inference-class] ************* Java vendor: Ora

[2021-09-06 06:12] LakshmiMekala commented on #239
Created PR #242 with required implementation

[2021-09-06 06:28] LakshmiMekala commented on #233
Closing the issue as per above comments

[2021-09-06 06:28] #233 closed

[2021-09-07 08:03] rameshpolishetti commented on #218
Thank you @athombare. Closing the issue as it is successfully verified.

[2021-09-07 08:03] #218 closed

[2021-09-14 06:45] rameshpolishetti commented on #239
This is feature is now available in master.

[2021-09-20 13:26] tsaxena18 commented on #239
Verified with BE 6.1.1 and with latest build of BE 6.2.0, it is working fine. I am able to deploy Helm with user defined namespace successfully.

[2021-09-21 05:57] rameshpolishetti commented on #239
Closing the issue as the feature is verified successfully.

[2021-09-21 05:57] #239 closed

[2021-09-28 20:09] tsaxena18 commented on #187
Verified AWS based global variables by running docker images locally and also validated AWS ECS by passing AWS secret in ECS task definition and applying required policy to ecsTaskExecutionRole for access to AWS secret, hence not required to pass AWS credentials.

[2021-09-30 20:05] rameshpolishetti commented on #237
This is implemented and made available in the branch https://github.com/TIBCOSoftware/be-tools/tree/feature-be620

[2021-09-30 20:06] rameshpolishetti commented on #238
This is implemented and made available in the branch https://github.com/TIBCOSoftware/be-tools/tree/feature-be620

[2021-10-01 11:13] LakshmiMekala commented on #236
This is implemented and made available in the branch https://github.com/TIBCOSoftware/be-tools/tree/feature-be620

[2021-10-19 18:42] tsaxena18 commented on #236
Verified OpenTelemetry exporter charts with BE 6.2.0 using Jaeger, Zipkin & OTLP as exporter and found expected behavior. No issues. I could access the Jaeger/Zipkin UI dashboard and could see the traces for BE application.

[2021-10-22 13:43] AdittyThakare opened #244 "be-q.jar should be part of default jars while building optimized docker image"
Built optimized docker image for bundled FraudDetectionCache(FTLClusterStore.cdd) by providing modules as http, ftl, ignite.
./build_image.sh -i app -a /home/apps/Aditty/docker/target -s /home/apps/Aditty/docker/Inst -t opt:fdcftl_docker --optimize http,ftl,ignite

Cache engine fails with ""java.lang.NoClassDefFoundError: com/tibco/cep/query/aggregate/AggregateFunctionsProvider.
`2021 Oct 22 13:16

[2021-10-30 07:26] jgirase commented on #237
Tested following scenarios for Open API/Async API spec on AWS EKS specifically for http channel,
1.Ping service
2.Access Async api json/yaml at runtime using LoadBalancer service type
3.Import Async api json/yaml  in studio using hosted url
4.Access Open api json/yaml/swagger at runtime using LoadBalancer service type
5.Import Open api json/yaml  in studio using hosted url
6.HTTP client/server com

[2021-10-30 15:52] rameshpolishetti commented on #237
@jgirase Updated Helm chart install notes accordingly.

[2021-10-30 19:02] tsaxena18 commented on #237
Validated following scenarios for Async API spec for Kafka & JMS channel,
1. Ping service
2. Access Async api json/yaml at runtime using LoadBalancer service type.
3. Import Async api json/yaml in studio using hosted url.
Attached logs for the reference.
[AsyncAPI_JMS_Kafka.zip](https://github.com/TIBCOSoftware/be-tools/files/7447447/AsyncAPI_JMS_Kafka.zip)

[2021-11-01 08:19] jgirase commented on #237
@rameshpolishetti I can see changes in notes related to async api spec. However I dont see any information related to openapi spec. Please confirm if its intentional

[2021-11-01 13:22] rameshpolishetti commented on #237
Yes @jgirase, notes are updated for async api spec because helm chart explicitly exposes dedicated xxx-apispec-service to serve async api spec. Same is not in case of openapi.

[2021-11-02 09:18] tsaxena18 commented on #237
@rameshpolishetti Can we update this below section in values.yaml for info on OpenAPI spec as well as we cannot find any. Also we are mentioning 3 end-points and listing only two. That also needs to be updated.
apispecservice:
  enabled: false      # Set to true - to enable API spec service which exposes 3 end-points (/ping & /asyncapi)
  port:               # Define to override the default port (

[2021-11-02 17:38] rameshpolishetti commented on #237
Thank you @tsaxena18 for spotting out, I have updated values.yaml comments section.
Also note that Helm install notes would not mention about "/ping" as it is not meant for external consumption from outside the cluster, instead it is used for BE engine/pod health checks.
Regarding OpenAPI, there is no configuration made available through Helm chart hence no mention around this. OpenAPI spec is dir

[2021-11-09 18:02] nareshkumarthota commented on #229
This feature is now available in master.

[2021-11-09 18:05] rameshpolishetti commented on #229
Closing the issue as it is implemented.

[2021-11-09 18:05] #236 closed

[2021-11-09 18:06] rameshpolishetti commented on #237
Closing the issue as it is tested and merged to master.

[2021-11-09 18:06] #237 closed

[2021-11-09 18:06] rameshpolishetti commented on #238
Closing the issue as it is tested and merged to master.

[2021-11-09 18:06] #238 closed

[2021-11-09 18:07] rameshpolishetti commented on #244
Closing the issue as it is tested and merged to master.

[2021-11-09 18:07] #244 closed

[2021-12-10 07:05] rameshpolishetti opened #248 "Automatically identify required channel modules from CDD/EAR"
**Context**
Automatically identify required module names by using channel references available in the supplied CDD/EAR while optimizing the BE container image. Currently user has to supply this information manually.

**Alternatives**
User has to supply this information manually.

**Has the feature been requested before?**
No

**If the feature request is approved, would you be willing to submit a P

[2021-12-28 15:45] rameshpolishetti opened #251 "Not able to build BE container image"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents | 6.2.0               |
| OS Type?       | Ubuntu               |
| OS Version?    | 20.10               |
| Docker         |  20.10.8              |

### Please provide a unit test that demonstrates the bug.
Build BE app image.

### Please provide log files.
[code]
### Any possible sol

[2021-12-29 10:34] nareshkumarthota commented on #251
Changes pushed to branch `issue-251`.

[2021-12-30 11:01] #251 closed

[2022-01-03 04:51] vsirimalla opened #253 "S2I image build with custom GV provider fails"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |       6.2         |
| OS Type?       |   RHEL             |
| OS Version?    |            7.8    |
| Docker         |     1.13 (RedHat)           |
| Kubernetes     |                |
| Helm           |                |

### What is the expected behavior?
$ ./build_image.sh -i s2ibuil

[2022-01-03 05:03] nareshkumarthota commented on #253
can you try running same build command without giving `-d` option. Building source image uses this `./dockerfiles/Dockerfile` file. And it is picked up automatically. If you like to use your own docker file you can use `-d` option by pointing to customised docker file.

[2022-01-03 05:09] vsirimalla commented on #253
I tried as you suggested, this is what I am seeing now.

[code]

[2022-01-03 05:20] nareshkumarthota commented on #253
Are you using rhel os to build this image?

[2022-01-03 05:22] vsirimalla commented on #253
I am using `FROM docker.io/library/ubuntu:20.10` as the base image, which I had to update in the Dockerfile
Host that I am running these commands is running RHEL 7.8

[2022-01-03 05:32] rameshpolishetti commented on #253
@vsirimalla As per Ubuntu releases https://wiki.ubuntu.com/Releases Ubuntu 20.10 (Groovy Gorilla) has already past End Of Life (EOL) July 22, 2021
Updating the the version to one of the Long Term Support (LTS) releases (like: 20.04) should fix the issue.

Note: `be-tools` master branch is using ubuntu LTS version 20.04. Please take latest.

[2022-01-03 05:54] vsirimalla commented on #253
Thanks @rameshpolishetti

I just took the latest dockerfiles/Dockerfile  content from GIT and rerun the job as is, and it is failing at the first step.

[code]

So then, I did add the `FROM docker.io/library/ubuntu:20.04` statement at the beginning of the file to make it work. With that step, it has advanced to next build steps, but eventually failed at another step with similar error message.

[c

[2022-01-03 06:37] rameshpolishetti commented on #253
@vsirimalla looks like you are trying to build BE app image on a RHEL machine. `be-tools` scripts are tuned to work on `Linux (Ubuntu)`, `Mac` & `Windows` host machines. If you trying on difference machine then you may need to adapt scripts little bit as per the host OS shell syntax.

[2022-01-03 07:11] rameshpolishetti commented on #253
@vsirimalla Regarding multi-stage build support - I see from Docker release notes https://docs.docker.com/engine/release-notes/17.05/#builder that multi-stage build support is added from the version 17.05
Since you are using `Docker version 1.13.1` multi-stage build wont work.

Since you are using RHEL, you can consider is using `buildah` tool as an alternative to `Docker`.  `be-tools` scripts can

[2022-01-03 14:17] vsirimalla commented on #253
RHEL Docker is a different from upstream Docker.
RHEL Docker 1.13 is the latest I could see from Yum repo.

Let me try with buildad instead
I will update here.

[2022-01-03 14:33] vsirimalla commented on #253
@rameshpolishetti
ERROR: s2ibuilder image is not supported with buildah tool.

Looks like buildah does not work with s2ibuilder option.

[2022-01-03 15:42] nareshkumarthota commented on #253
@vsirimalla  There is no support for s2i with buildah. You can check there is one open ticket in s2i repo [here](https://github.com/openshift/source-to-image/issues/1031).
Script provided here will use intermediate images. If you try to alter the scripts behaviour may be differed.

One more observation, from s2i docs I see that docker version should be 1.6 and higher. Check it [here](https://githu

[2022-01-03 17:25] spantalo opened #254 "BE 6.2.1 - Build image fails"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |      6.2.1          |
| OS Type?       |      Ubuntu          |
| OS Version?    |      20.04          |
| Docker         |        20.10.7        |
| Kubernetes     |        NA        |
| Helm           |          NA      |

### What is the expected behavior?
Docker image is created

[2022-01-03 18:04] nareshkumarthota commented on #254
Just now downloaded be 6.2.1(V11.1-GA) -- TIB_businessevents-enterprise_6.2.1_linux26gl25_x86_64.zip. Tried building image in my machine. Build is success. Can you try clearing your docker cache and rebuild.

Below are logs from my build:

naresh@naresh-ThinkPad-P50:~/go/src/github.com/TIBCOSoftware/be-tools/cloud/docker$ ./build_image.sh -i app -a /home/naresh/Downloads/tibproducts/app/be620/inme

[2022-01-04 04:37] nareshkumarthota commented on #254
If you are still facing the issue, Kindly share debug logs.
Steps to enable debug mode installation:
Go to file `<BE_TOOLS_HOME>/cloud/docker/lib/be_docker_install.pm` In line no 16 edit variable `DEBUG_ENABLE` value to 1.

[2022-01-04 07:51] spantalo commented on #254
Hi Naresh, it worked after purging docker cache as you suggested: docker builder prune
Thanks for the hint!

[2022-01-04 07:51] #254 closed

[2022-01-04 18:43] vsirimalla commented on #253
@rameshpolishetti
I created a local VM in my PC with ubuntu OS and ran the commands. Please find the attached file.
its failing with an error.
[be image creation error.txt](https://github.com/TIBCOSoftware/be-tools/files/7809697/be.image.creation.error.txt)

[2022-01-05 04:12] nareshkumarthota commented on #253
@vsirimalla  In your VM try running docker without sudo privilege. You can find post installation steps for docker [here](https://docs.docker.com/engine/install/linux-postinstall/). Once you are able to run your docker try running build script without sudo.

[2022-01-05 17:04] umueller-de opened #255 "RMS Server image - studio-tools not work (ear and class files created)"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |  6.2.1              |
| OS Type?       |     Linux           |
| OS Version?    |    Ubuntu  20.04           |
| Docker         |    Windows Docker Desktop            |

Issue:
=====
Studio-tools not work when build the RMS server image (tested with windows docker scripts) with latest

[2022-01-05 21:10] asantopi opened #256 "[BE6.2.0 Container Version] - Permissions Error during the image start under Open Shift 4.6"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents | 6.2.0 |
| OPEN SHIFT | 4.6.0 |

Hi all Happy New Year!

I deployed a Business Event image under OpenShift using the file "be-deployment.yaml" and "be-service.yaml"
The Pod is up and Running but the log shows the errors reported in the file "error.txt"

I've built the BE image using th

[2022-01-06 02:37] nareshkumarthota commented on #256
From build logs I see that image is built with ubuntu:20.10, Recently we have updated all our docker files to ubuntu:20.04. Can you pull latest scripts from master and rebuild the image. One more thing please clear your docker cache. Try running `docker builder prune` or `docker system prune`. If error still persist please share the logs we will look into it.

[2022-01-07 10:37] asantopi commented on #256
Hi @nareshkumarthota,

Thank you very much, but it doesn't work with updated docker files either.
These the steps I've done:
1. Downloaded the new version of cloud folder and merged in my current under be installation directory.
2. Executed the _docker builder prune_ command.
3. Executed the _docker system prune_ command.
4. Building of application
5. Ran it using _docker run_ and all is ok. Ran i

[2022-01-11 05:15] nareshkumarthota commented on #255
We have addressed this Issue in PR #258

[2022-01-11 14:06] rameshpolishetti commented on #256
Hi @asantopi from the issue triage call we had today, able to reproduce the issue with plain ubuntu:20.04 image as well.

Deployment configuration for reference:
[code]
I see that the Open Shift k8s environment enforcing `security context constraints` so that pod is running with the user which doesn't have enough privileges. Which is causing the issue.

Is it possible to raise pod's privilege leve

[2022-01-11 18:37] vpatil-tibco commented on #255
@umueller-de What is the purpose of using studio-tool off the image. It was not included in the image for it to be used directly as a cli tool. The only reason its there is because RMS has a dependency on it for one feature, else we would have excluded it altogether, like we do it doe the Base BE image.

Studio-tools CLI should be used off the installation only.

@ykalidin / @nareshkumarthota - Ch

[2022-01-12 15:32] rameshpolishetti commented on #253
Hi @vsirimalla I believe now you are able to build BE application container image. Please confirm and close the issue.

[2022-01-12 16:22] #253 closed

[2022-01-13 08:12] nareshkumarthota commented on #256
@asantopi  Can you try building image with branch `chore-berun-tmp-poc`. Made some changes to run file to use tmp directory for file operations.

[2022-01-13 10:15] asantopi commented on #256
Hi @nareshkumarthota,
I've built the image using the branch **chore-berun-tmp-poc** as indicated by you.
Now the pod i successfully UP and Running on the OpenShift.

Thank you very much for the support.

[2022-01-13 10:15] #256 closed

[2022-02-03 16:16] mulcahey opened #259 "externalizing CDD settings in a configmap"
Hi - In the old world, we could build an EAR file in Studio and this did not depend on the CDD. So changes to the CDD could be made without having to rebuild the EAR. In the new world of container images, we now ask that the EAR and CDD be placed in an artifacts directory (which our build_image script looks to). So the CDD is no longer separated from the build process.

Is it recommended/supported

[2022-02-04 02:36] vpatil-tibco commented on #259
We already have an option to do that using s2i (https://github.com/TIBCOSoftware/be-tools/wiki/Building-TIBCO-BusinessEvents-Application). It for a more dev centric case, when the ear and cdd are more prone to changes.

So it works off a 2 image system, where there is a base image with core BE and then an quick small app based BE which takes simply the ear and cdd.

Recently we added a critical pe

[2022-02-08 05:01] nareshkumarthota commented on #255
@umueller-de  Required changes moved to master now. Please validate from your end and close this issue.

[2022-02-08 09:48] #255 closed

[2022-02-08 09:49] umueller-de commented on #255
Confirm issue fixed.

[2022-02-11 13:48] #259 closed

[2022-02-16 05:25] #248 closed

[2022-02-17 06:09] tsaxena18 opened #260 "Allow complete usage of optimize flag for s2ibuilder based imges."
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |    6.2.1            |
| OS Type?       |     CentOS           |
| OS Version?    |     7.9           |
| Docker         |     20.10           |
| Kubernetes     |       NA         |
| Helm           |              NA  |

### What is the expected behavior?
While building s2i based imag

[2022-02-17 08:29] tsaxena18 commented on #260
I think if we somehow provide EAR/CDD(optional) to s2i base image with a flag then it will eventually create app image so the next step of building application image from s2i utility (where we are again providing EAR/CDD) should just update the app image with the given CDD/EAR , assuming that there is no change w.r.t modules. But I am not sure whether s2i utility supports that.

[2022-02-22 17:47] rameshpolishetti opened #261 "non-root container support"
**Context**
As Docker & Kubernetes runs container as the root user by default, current BE container image has been designed to run as the root user. In recent times, non-root container adaption has been increasing mainly due to following reasons:
- non-root containers are more secure
- Some Kubernetes (example: OpenShift) run containers using random UUIDs, where root containers doesn't work

Adapt

[2022-02-22 19:19] rameshpolishetti commented on #260
@tsaxena18 I assume that the ask here is to automate user input module names while building `s2ibuilder ` image, which definitely eliminates the pain of entering module names manually. However automating this by accepting CDD/EAR will bring new challenges. To explain in detail - right now user can build BE container image in two ways:
1. build `app` image in a single step by providing CDD/EAR
2. b

[2022-02-23 14:50] umueller-de opened #262 "Permission issue on startup of the BE container when docker image created on Linux"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |   6.2.1             |
| OS Type?       |      Ubuntu          |
| OS Version?    |     22.04           |
| Docker         |      20.10.12          |
| Kubernetes     |                |
| Helm           |                |

The docker image created on a Linux system with the docker scri

[2022-02-23 16:58] nareshkumarthota commented on #262
I tried on my machine. I am able to run the image successfully. Attached logs.

[be-tools-master-logs.log](https://github.com/TIBCOSoftware/be-tools/files/8126271/be-tools-master-logs.log)

[2022-02-25 06:22] nareshkumarthota commented on #262
@umueller-de  Changes pushed to branch `fix-issue-262` . Please validate and confirm.

[2022-02-25 07:54] rameshpolishetti commented on #262
This fix is available in the master, as the respective PR #263 validated and accepted into the master.

[2022-02-25 12:30] #262 closed

[2022-02-25 12:30] umueller-de commented on #262
Tested and confirm its fixed.
Thanks

[2022-04-06 16:20] swmueller opened #265 "Configure UTF-8 file encoding (java env) to avoid encoding issues"
**Context**
Issues reported with default encoding (Event payload truncated on special characters)

To avoid that type of issues please add env variable below to set UTF-8 encoding by default. Add below env variable to the Dockerfile(s)

ENV JAVA_TOOL_OPTIONS="-Dfile.encoding=UTF8"

[2022-04-06 17:06] #261 closed

[2022-04-13 10:01] whitesource-for-github-com[bot] opened #266 "CVE-2021-38561 (High) detected in github.com/golang/text-v0.3.6"
## CVE-2021-38561 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/golang/text-v0.3.6</b></p></summary>

<p>[mirror] Go text processing support</p>
<p>

Dependency Hierarchy:
  - github.com/kubernetes/api-v0.20.7 (Root Library)
    - k8s.io/apimachinery-v

[2022-04-13 10:22] LakshmiMekala commented on #266
fixed with PR #267

[2022-04-15 03:15] #266 closed

[2022-04-18 11:05] ykalidin opened #268 "Not able to build image with custom/aws gv provider"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |      6.2          |
| OS Type?       |       Ubuntu         |

### What is the expected behavior?
Should be able to build image with custom/aws gv provider

### What is the actual behavior?
Image build getting stuck in `INFO: setting up the gvprovider[custom/aws]...` and below log doe

[2022-04-19 05:31] tsaxena18 opened #271 "Not able to create BE 6.2.2 docker image with AS 2.4.2."
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |        6.2.2        |
| OS Type?       |    Linux          |
| OS Version?    |    CentOS 7.9            |
| Docker         |    20.10.14            |
| Kubernetes     |   NA             |
| Helm           |      NA          |

### What is the expected behavior?
The docker image shoul

[2022-04-19 05:34] nareshkumarthota commented on #271
As per communication from team. be 6.2.2 should support only as 2.4.1

[2022-04-19 06:05] tsaxena18 opened #272 "Docker image build script should fail for unsupported BE version."
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |    6.3.0            |
| OS Type?       |    Linux            |
| OS Version?    |      CentOS 7.9          |
| Docker         |     20.10.14           |
| Kubernetes     |    NA            |
| Helm           |         NA       |

### What is the expected behavior?
The docker image bui

[2022-04-19 09:05] #271 closed

[2022-04-20 05:09] VarinderSandhu opened #275 "BE Tea Agent running in docker is not able to identify other BE docker Apps"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |      6.2.1          |
| OS Type?       |       Mac         |
| OS Version?    |                |
| Docker         |        20.10.13        |
| Kubernetes     |                |
| Helm           |                |

### What is the expected behavior?
BE TEA agent should be able to see o

[2022-04-20 05:29] nareshkumarthota commented on #275
Currently scripts provided in be-tools monitors be apps deployed in kubernetes environment. Also we have option for aws/fargate. You can try deploying in minikube. For additional details please check docs [here](https://github.com/TIBCOSoftware/be-tools/wiki/Monitoring-TIBCO-BusinessEvents-Applications)

[2022-04-20 05:41] VarinderSandhu commented on #275
looks like TEA Server doesnt work properly in AWS / EKS Cluster ." we have option for aws/fargate " is this AWS  ECS or EKS ?

[2022-04-20 06:42] nareshkumarthota commented on #275
It works in both EKS and ECS you need to configure environment variables properly.

[2022-04-20 12:30] #272 closed

[2022-04-27 12:30] #268 closed, assigned to nareshkumarthota

[2022-04-28 15:07] umueller-de opened #276 "CentOS and RedHat container - Perl not installed in image build with dockerfile (deleted after installation)"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |      6.2.1          |
Environment: RedHat and CentOS BE container

Perl installation not available after BE image created (build successful).
Caused by this environment variables not loaded properly.
On startup of teh docker container the startup script (run) returns several errors an

[2022-05-04 08:34] #276 closed

[2022-05-04 15:15] vpatil-tibco commented on #275
@VarinderSandhu - Can you confirm if things are resolved at your end or do you still need something from BE end?

[2022-05-07 00:32] mtavawala opened #278 "JVM properties (Max heap, initial heap etc) are hardcoded to the default after build image"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |     6.2.1           |
| OS Type?       |        Linux        |
| OS Version?    |       7.9         |
| Docker         |        20.10.14        |
| Kubernetes     |                |
| Helm           |                |

### What is the expected behavior?
The INITIAL_HEAP_SIZE, MAX_HEAP

[2022-05-09 09:25] umueller-de opened #279 "JMX Connection to BE container failed when docker container started in a bridged network"
**Environment**:
Docker (tested on Windows)
BE 6.2.1

**Issue**:
A JMX console connection from external system to the BE application not work when BE docker container started in a bridged network (docker desktop). The JMX port exposed correctly (telnet connection work).
This is caused by the be-engine.tra  property "java.property.java.rmi.server.hostname" added by the startup script "run" (points

[2022-05-10 07:30] LakshmiMekala commented on #278
Hi @mtavawala

If you want to override heap size, max heap size, stack size and java extended properties, run containter using below command

[code]

Connect to the running container and inspect be-engie.tra file to cofirm.

docker exec -it `containerID` bash
cat /opt/tibco/be/`be-version`/bin/be-engie.tra

pasting few lines from tra file:
[code]

[2022-05-10 09:50] LakshmiMekala commented on #279
Hi @umueller-de

At the container run time, user can add env `tra.java.property.java.rmi.server.hostname="systemip or system hostname"` and connect to jconsole with localhost:5555, connection would be successful.

[2022-05-10 16:54] mtavawala commented on #278
Hi @LakshmiMekala,

Thanks for the update. Now I understand that JVM parameters need to be passed as environment variables.

Even after doing the same, I see that tra.java.heap.size.initial=512m and tra.java.heap.size.max=2048m only get set in the be-engine.tra

The tra.java.stack.size and tra.java.extended.properties do not get set.

I ran the following command and did not see the be-engine.tra g

[2022-05-11 03:31] rameshpolishetti commented on #278
Hi @mtavawala, Can you confirm, if the issue is resolved or do you still need something from our end?

[2022-05-11 07:16] #279 closed

[2022-05-11 18:39] mtavawala commented on #278
Hi @rameshpolishetti , this issue has been resolved. Thanks for the help.

[2022-05-12 01:58] LakshmiMekala commented on #278
Closing as per above comments

[2022-05-12 01:58] #278 closed

[2022-05-16 10:47] ninad-mahajan opened #280 "Set up SSL connection for BE-TEAgent with TEA server in Kubernetes on-prem platform"
**Environment:**
Kubernetes
BE 6.2.1

**Requirement:**
Required to Document and Test the steps to Configure BE-TEA-Agent with SSL connection to TEA-Server in a Kubernetes on-prem platform.

**Alternatives:**
No.

java.extended.properties=-Xmx1024m -Xms256m -XX:-HeapDumpOnOutOfMemoryError -XX:SurvivorRatio=128 -XX:MaxTenuringThreshold=0  -XX:+UseTLAB -XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEn

[2022-05-23 12:04] aprani opened #281 "Hawk RedTail support for monitoring containerised BE applications"
Currently, HawkRT support is provided for monitoring the on-prem BE applications. Similar monitoring support needs to be provided for containerised BE applications as well.

[2022-05-29 20:36] mend-for-github-com[bot] opened #282 "CVE-2022-28948 (High) detected in github.com/go-yaml/yaml-496545a6307b2a7d7a710fd516e5e16e8ab62dbc - autoclosed"
## CVE-2022-28948 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/go-yaml/yaml-496545a6307b2a7d7a710fd516e5e16e8ab62dbc</b></p></summary>

<p>YAML support for the Go language.</p>
<p>

Dependency Hierarchy:
  - github.com/stretchr/testify-v1.7.0 (Root Li

[2022-06-07 04:25] #280 closed

[2022-06-07 11:23] nareshkumarthota commented on #282
I have gone through the go-yaml repo issues and found [this](https://github.com/go-yaml/yaml/issues/666#issuecomment-1133337993). Actual issue was with go-yaml v3 not v2, Anyway we are consuming this via github.com/kubernetes-sigs/yaml-v1.2.0 they also have open [issue](https://github.com/kubernetes-sigs/yaml/issues/78). Once kubernetes-sigs releases new version with cve fix we can consume it in o

[2022-06-13 07:33] #281 closed

[2022-06-13 07:33] mend-for-github-com[bot] opened #286 "CVE-2020-8559 (Medium) detected in github.com/kubernetes/apimachinery-v0.20.7"
## CVE-2020-8559 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/kubernetes/apimachinery-v0.20.7</b></p></summary>

<p>null</p>
<p>

Dependency Hierarchy:
  - github.com/kubernetes/api-v0.20.7 (Root Library)
    - :x: **github.com/kubernetes/apimachine

[2022-06-13 07:34] #282 closed

[2022-06-13 07:42] nareshkumarthota commented on #220
Fixed and pushed to master.

[2022-06-13 07:42] #220 closed

[2022-06-13 10:28] #286 closed

[2022-06-13 17:21] #265 closed

[2022-09-05 07:20] rameshpolishetti opened #289 "BE container application runtime configurations and its order of precedence"
**Context**
TIBCO BE application deployed on a cloud platform pulls its runtime configurations before container startup from various sources including Pod environment, ConfigMaps, Secrets and GV providers. However, related documentation is vague.

Add a section in the `wiki` describing all possible ways to inject runtime configurations into the BE container application and its order of precedence.

[2022-09-08 00:14] vpatil-tibco opened #290 "Support for Certificate Manager"
**Context**
Add support for certificate manager, similar to secrets manager. Preference here would be to leverage the existing framework for secret manager to include support for Certificates manager as well.
OOB include an implementation of AWS Certificate manager.

**Alternatives**
None

**Has the feature been requested before?**
No

**If the feature request is approved, would you be willing to

[2022-09-08 16:15] vpatil-tibco opened #291 "Working with JMX Client and TEA within a Kubernetes Cluster"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |      6.x          |
| OS Type?       |       Any         |
| OS Version?    |      Any         |
| Docker         |     Latest           |
| Kubernetes     |       OOB         |
| Helm           |     OOB           |

### What is the expected behavior?
There are a couple of things,
1.

[2022-09-08 16:32] vpatil-tibco opened #292 "Evaluate CyberArk for Secret Manager"
**Context**
There has been an ask by customers around using CyberArk as a secrets manager. We need to evaluate if our existing framework for GV's, especially simple http end point based option is sufficient.

**Alternatives**
Use the http based GV option or build additional option as needed.

**Has the feature been requested before?**
Yes by Entergy, Citi

**If the feature request is approved, wou

[2022-09-09 11:21] umueller-de opened #293 "K8s deployment scripts not work when enable Cache (all persistence types)"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |   6.x             |
| Kubernetes     |                |

K8s deployment scripts not work when enable Cache (all persistence types).
Each node forms his own cache cluster and will not join same cluster.

To fix the issue it is required to modify "bediscoverynode.yaml", "beinferenceagen

[2022-09-09 13:20] rameshpolishetti commented on #293
@umueller-de Can you please confirms which scripts (under `cloud/kubernetes`) are you referring ?

[2022-09-09 15:40] rameshpolishetti commented on #293
@umueller-de yaml configurations present in individual folders (AWS/Azure/etc...) are reference configurations for basic deployment types.

Wide variety of deployments options are made available through [BE Helm chart](https://github.com/TIBCOSoftware/be-tools/wiki/Helm-Chart) under the folder `be-tools/cloud/kubernetes/helm`. Please adapt BE helm chart so that you can deploy desired topology by j

[2022-09-21 08:13] LakshmiMekala commented on #289
Included new wiki [page](https://github.com/TIBCOSoftware/be-tools/wiki/GlobalVariables) which details about order of precedence of global variables at container runtime.

[2022-09-22 05:41] LakshmiMekala commented on #289
Here is the order of precedence of global variables at container runtime:

- GV framework order -> HTTP,CONSUL,AWS -

    p1- AWS
    p2- CONSUL
    p3- HTTP

- Environment variables from envVars section of helm chart
- Secret(if morethan one secret, then last mentioned in the list considers as final env's- envVarsFromSecrets-helm chart)
- Configmap already exists(envVarsFromConfigMaps- helm chart

[2022-10-04 14:34] rameshpolishetti commented on #293
Hi @umueller-de I hope you were able to deploy successfully with the `BE Helm chart`.  Can we close the issue?

[2022-10-05 08:10] umueller-de commented on #293
Yes, close the issue. The BE Helm chart deployment work.

[2022-10-12 05:12] LakshmiMekala opened #294 "kafka related jars were missing while building docker image using optimization"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |    6.2.2            |
| OS Type?       |      Ubuntu          |
| OS Version?    |     22.04           |
| Docker         |       20.10.12         |
| Kubernetes     |                |
| Helm           |                |

### What is the expected behavior?
INFO: CONTAINER OPTIMIZING F

[2022-10-13 11:39] tsaxena18 opened #296 "RHEL 9 : Docker image build script fails when Installers are provided as source."
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |      6.2.2          |
| OS Type?       |   RHEL             |
| OS Version?    |   9.0             |
| Docker         |         20.10.18       |
| Kubernetes     |       NA         |
| Helm           |     NA           |

### What is the expected behavior?
The docker image should be b

[2022-10-14 11:46] umueller-de opened #297 "A Windows Image created from an existing BE installation not work - startup error "Failed to open Registry key for JRE, "SOFTWARE\JavaSoft\Java Runtime Environment""
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |     6.2.2           |
| OS Type?       |   Windows (mcr.microsoft.com/windows/servercore:ltsc2019)      |
| Docker         |  Windows Docker Desktop              |

A Windows Image created from an existing BE installation not work - startup error "Failed to open Registry key for JRE,

[2022-10-14 13:40] nareshkumarthota commented on #297
@umueller-de  can you build again and check. Its working at my end.

[wind-beapp-frominstall.txt](https://github.com/TIBCOSoftware/be-tools/files/9786820/wind-beapp-frominstall.txt)

[2022-10-14 14:50] umueller-de commented on #297
I did another test.
The image can be started correctly if you create the image on a machine where BE is installed in the default location "**c:\tibco\be\<version>**"
e.g.,
build_image.bat -i app -a "c:\temp\FDAppFiles" -s "c:\tibco\be\6.2" -t fdwin:be621

The start fail when build the image from a different location.
e.g.,
build_image.bat -i app -a "c:\temp\FDAppFiles" -s "**D:\tibco_be622base\be\

[2022-10-17 03:52] yxuco opened #299 "Cannot connect to AS4 backing store from docker container"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents | 6.2.2 HF001               |
| OS Type?       | MacOS               |
| OS Version?    |                |
| Docker         | Docker Desktop 4.12.0 (85629)               |
| Kubernetes     |                |
| Helm           |                |

### What is the expected behavior?
Docker

[2022-10-17 10:25] LakshmiMekala commented on #290
Created PR for this feature #300  and the relevant documentation is in progress

[2022-10-17 18:04] rameshpolishetti commented on #299
@yxuco I have followed steps as mentioned in BE shipped example `BE_HOME/be/6.2/examples/standard/FraudDetectionStore/readme.html`. Able to connect to AS4 successfully.
Both FTL & AS4 started on my Mac localhost on port 8585 (FTL) and 5055(as4). BE application started on docker with be below command:
`docker run -e FTL_gv_REALM_SERVER=http://host.docker.internal:8585 -e AS_gv_REALM_SERVER=http://h

[2022-10-17 23:07] yxuco commented on #299
Yes, my project is different from the standard sample for fdstore.  However, I found that the issue is the use of AS 4.8.0, which does not seem to work when AS client is in a docker container.  After I downgrade to AS 4.7.1, everything is working as expected.  So please close this issue.

[2022-10-17 23:07] #299 closed

[2022-10-18 05:33] #294 closed

[2022-10-18 05:45] #297 closed

[2022-10-18 05:46] nareshkumarthota commented on #297
@umueller-de  please validate once.

[2022-10-18 08:14] umueller-de commented on #297
Tested new master scripts and confirm, container starts correctly.

[2022-10-20 04:34] LakshmiMekala commented on #290
POC implementation changes are available in branch poc/aws-acm

[2022-11-01 06:23] nareshkumarthota commented on #296
Issue is with default ulimit value in container is very high. BE installer exiting abruptly because of high ulimit value. Workaround can be modify your dockerfile to limit the ulimit value for be installation instruction.

`
RUN  ulimit -n 1048576 && perl -I. -Mbe_docker_install -e "be_docker_install::install_be('$BE_PRODUCT_VERSION','enterprise','$BE_PRODUCT_ADDONS','$BE_PRODUCT_HOTFIX','$AS_PROD

[2022-11-04 06:02] mend-for-github-com[bot] opened #302 "CVE-2022-32149 (High) detected in golang.org/x/text-v0.3.7"
## CVE-2022-32149 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>golang.org/x/text-v0.3.7</b></p></summary>

<p></p>
<p>Library home page: <a href="https://proxy.golang.org/golang.org/x/text/@v/v0.3.7.zip">https://proxy.golang.org/golang.org/x/text/@v/v0.3.7.zip</

[2022-11-04 06:05] rameshpolishetti commented on #292
This has been implemented through the PR #301

[2022-11-04 08:56] tsaxena18 commented on #187
Closing it as this was validated on master branch.

[2022-11-04 09:00] #260 closed

[2022-11-04 09:37] rameshpolishetti commented on #187
Thank you @tsaxena18. Closing the issue as it is validated successfully.

[2022-11-04 09:37] #187 closed

[2022-11-08 04:20] rameshpolishetti opened #303 "CyberArk Conjur GV provider not able to fetch when it contains single GV value"
### Version Information
| Software       | Version(s)     |
| -------------- | -------------- |
| BusinessEvents |       6.2         |
| OS Type?       |       Ubuntu         |
| OS Version?    |       22.04         |
| Docker         |        20.10        |

### What is the expected behavior?
GV value should be pulled from CyberArk Conjur server and added to the property file.

### What is the ac

[2022-11-09 16:52] #302 closed

[2022-11-14 04:50] ykalidin commented on #303
As confirmed by conjur, we dont have a way to get json output when single secret is used.
As of now we are manually formatting the output to json. Changes are in fix-issue-303 branch.Please verify.